<p-panel class="mt-2" *ngIf="task && task.typeTache==2" header="CheckList"  [toggleable]="true" [style]="{'margin-top':'2%'}">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link">
      <span class="pi pi-cog"></span>
    </button>
  </ng-template>
  <div *ngIf="task.typeTache==2" class="card">
    <div class="card-body checkList">
      <button (click)="addCheck(false)" class="btn btn-success add-btn float-right" type="button"><i
        class="cil-plus"></i>
      </button>
      <button (click)="removeLastCheck()" class="btn btn-danger add-btn float-left" type="button"><i
        class="cil-minus"></i></button>
      <br/>
      <br/>
      <div *ngFor="let step of etapeList">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center content-center">
            <p-checkbox (onChange)="updateCheck(step,false)" [(ngModel)]="step.checked" binary="true"
                        name="groupname"></p-checkbox>
            <h3 (click)="addCheck(true,step)" class="check-designation">
              <u style="margin-left:12px;">{{step.designation}}</u>
            </h3>
          </div>
        </p-divider>

        <p>{{step.description}}</p>
      </div>
    </div>
  </div>
</p-panel>
