<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Tâche N° {{task.numero}}
      </div>
      <div class="card-body">
        <div class="profilPanel mb-4">
          <div class="row">
            <div class="example-small-box col-1">
              <lord-icon
                class="seeHover"
                colors="primary:#121331,secondary:#08a88a"
                src="https://assets3.lottiefiles.com/packages/lf20_v4t3yi.json"
                style="width:250px;height:250px"
                trigger="loop">
              </lord-icon>
            </div>
            <div class="col-11" fxLayout="column" fxLayoutAlign="start">

              <div fxLayout="row" fxLayoutAlign="start" class="col-12">
                <div fxLayout="row" fxLayoutAlign="start" class="box col-6">
                  <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="flex-start">
                      <h4> Numéro:</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [(ngModel)]="task.numero" matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="flex-start">
                      <h4> Désignation:</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [(ngModel)]="task.designation" matInput>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" class="box col-6">
                  <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="flex-start">
                      <h4> Service:</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [(ngModel)]="task.serviceName" matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="flex-start">
                      <h4> Responsable:</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [(ngModel)]="task.responsableName" matInput>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start" class="col-12">
                <div fxLayout="column" class=" box col-8">
                  <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <h4>Date Début</h4>
                    </div>
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [value]="task.dateDebut | date:'dd-MM-YYYY'" matInput>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input readonly #input [value]="task.dateDebut | date:'hh:mm' " matInput>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start center" class="col-3">
                      <p-checkbox name="groupname" value="true"></p-checkbox>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <h4>Date Fin</h4>
                    </div>
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <mat-form-field appearance="outline" class="example-full-width ">
                        <input readonly #input [value]="task.dateFin | date:'dd-MM-YYYY'" matInput>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start" class="col-3">
                      <mat-form-field appearance="outline" class="example-full-width ">
                        <input readonly #input [value]="task.dateFin | date:'hh:mm' " matInput>
                      </mat-form-field>
                    </div>
                  </div>


                  <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="col-12">
                      <div fxLayout="column">
                        <div fxLayoutAlign="flex-start">
                          <h4>Catégorie</h4>
                        </div>
                        <div fxLayoutAlign="flex-start">
                          <mat-form-field appearance="outline" class="example-full-width ">
                            <mat-select [(ngModel)]="task.categorie" [disabled]="true"
                                        name="type">
                              <mat-option [value]="0">Manuelle</mat-option>
                              <mat-option [value]="1">Automatique</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div fxLayout="column">
                        <div fxLayoutAlign="flex-start">
                          <h4>Nature</h4>
                        </div>
                        <div fxLayoutAlign="flex-start">
                          <mat-form-field appearance="outline" class="example-full-width ">
                            <mat-select [(ngModel)]="task.nature" [disabled]="true"
                                        name="type">
                              <mat-option [value]="0">Interne</mat-option>
                              <mat-option [value]="1">EXTERNE</mat-option>
                              <mat-option [value]="2">INTERNE/EXTERNE</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="col-12">
                      <div fxLayout="column" class="col-12">
                        <div fxLayoutAlign="flex-start">
                          <h4>Description</h4>
                        </div>
                        <mat-form-field appearance="outline">
                          <textarea [(ngModel)]="task.commentaire" readonly matInput placeholder="Description..."></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>
                <div fxLayout="row" fxLayoutAlign="start" class="col-4">
                  <div class="col-12 box " fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="flex-start">
                      <h4> Périodicité:</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select [(ngModel)]="task.periodicite" [disabled]="true"
                                    name="type">
                          <mat-option [value]="0">Ponctuel</mat-option>
                          <mat-option [value]="1">Journalière</mat-option>
                          <mat-option [value]="2">Hebdomadaire</mat-option>
                          <mat-option [value]="3">Bimensuelle</mat-option>
                          <mat-option [value]="4">Mensuelle</mat-option>
                          <mat-option [value]="5">Trimestrielle</mat-option>
                          <mat-option [value]="6">Semestrielle</mat-option>
                          <mat-option [value]="7">Annuelle</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select [(ngModel)]="task.periodicite" [disabled]="true"
                                    name="type">
                          <mat-option [value]="0">6H</mat-option>
                          <mat-option [value]="1">7H</mat-option>
                          <mat-option [value]="2">8H</mat-option>
                          <mat-option [value]="3">9H</mat-option>
                          <mat-option [value]="4">10H</mat-option>
                          <mat-option [value]="5">11H</mat-option>
                          <mat-option [value]="6">12H</mat-option>
                          <mat-option [value]="7">13H</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <h4> Statut</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select [(ngModel)]="task.statut" [disabled]="true"
                                    name="type">
                          <mat-option [value]="0">PLANNIFIE</mat-option>
                          <mat-option [value]="1">VALIDEE</mat-option>
                          <mat-option [value]="2">TERLINEE</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <h4> Rappel</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select [(ngModel)]="task.statut" [disabled]="true"
                                    name="type">
                          <mat-option [value]="0">NON</mat-option>
                          <mat-option [value]="1">15'</mat-option>
                          <mat-option [value]="2">30'</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button type="button" (click)="editTask(task)" class="btn btn-primary add-btn float-right">Modifier
        </button>
      </div>
    </div>
  </div>
  <!--/.col-->


</div>


<div class="card" *ngIf="false">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0"><i class="icon-people"></i>Données</h4>
        <!--<div class="small text-muted">Juin 2021</div>-->
      </div><!--/.col-->
    </div>
    <div class="row">
      <div class="chart-wrapper col-8">
        <canvas baseChart class="chart"
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="col-4">
        <img style="float: left" src="/assets/img/avatars/statistics.png">
        <h2> Données d'analayse de la tâche <strong>{{task.designation}}</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h5>Avancement</h5>
        <p-progressBar class="customProgress" [value]="50"></p-progressBar>
      </div>
      <div class="col-6">
        <h5>Temps de réalisation</h5>
        <p-progressBar class="customProgress" [value]="85"></p-progressBar>
      </div>
    </div>

  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0"><i class="icon-people"></i>Affectations</h4>
        <!--<div class="small text-muted">Juin 2021</div>-->
      </div><!--/.col-->
    </div>
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input name="keyup">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
          <td mat-cell *matCellDef="let element"> {{element.prenom}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fonction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fonction</th>
          <td mat-cell *matCellDef="let element"> {{element.fonction}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="profil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profil</th>
          <td mat-cell *matCellDef="let element"> {{element.profil}}</td>
        </ng-container>

        <ng-container matColumnDef="star">
          <th mat-header-cell *matHeaderCellDef> Statut</th>
          <td mat-cell *matCellDef="let element">
            <div class="button-row">
              <div>
                <label class="switch switch-3d switch-success">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </div>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="displayCollaborateur(element)" *matRowDef="let element; columns: displayedColumns;"
            class="collaborateur-row"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
