.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  background-color: white;
}

.example-emtpy-box {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.profilPanel {
  background-color: white;
  /* padding: 16px; */
  margin: 2px;
  border-radius: 8px;
  padding: 20px;
}

.example-small-box img {
  width: inherit;
  height: inherit;
}

.label {
  font-weight: bold;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr.collaborateur-row:hover {
  background: whitesmoke;
}

tr.collaborateur-row:active {
  background: #efefef;
}

.customProgress .p-progressbar .p-progressbar-label {
  color: yellow;
}

.customProgress .p-progressbar .p-progressbar-value {
  background: red;
}
.box{
  border: solid;
  border-color: #e9ecef;
}
