<p-toast position="bottom-right"></p-toast>
<app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<div class="animated fadeIn">

  <div class="card-group mb-4">
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people "></i>
        </div>
        <div class="h4 mb-0">{{collaborateurList.length}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Collaborateurs</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="cil-sitemap"></i>
        </div>
        <div class="h4 mb-0">{{serviceList.length}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Services</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="cil-list-rich"></i>
        </div>
        <div class="h4 mb-0">{{taskList.length}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Tâches</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="cil-settings"></i>
        </div>
        <div class="h4 mb-0">28</div>
        <small class="text-muted text-uppercase font-weight-bold">Configurations et alertes</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="card-columns cols-2 mb-4">
    <div class="card" (dblclick)="goToIndicators()">
      <div class="card-header">
        Repartition Tâches
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"></canvas>
        </div>
      </div>
    </div>
    <div class="card" (dblclick)="goToIndicators()">
      <div class="card-header">
        Suivi affectations
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-6" (dblclick)="goToIndicators()">
      <app-chart-line-card [bgclass]="'back-orange'" [lineChart]="lineChartCA"></app-chart-line-card>
    </div>
    <div class="col-sm-6 col-lg-6" (dblclick)="goToIndicators()">
      <app-chart-line-card [bgclass]="'bg-danger'" [lineChart]="lineChartNbBooking"></app-chart-line-card>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card" (dblclick)="goToIndicators()">
        <div class="card-header bg-success">
          <div class="font-weight-bold">
            <span>TAUX D'OCCUPATION</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:150px;">
            <canvas baseChart class="chart"
                    [datasets]="lineChart4Data"
                    [labels]="lineChart4Labels"
                    [options]="lineChart4Options"
                    [colors]="lineChart4Colours"
                    [legend]="lineChart4Legend"
                    [chartType]="lineChart4Type"></canvas>
          </div>
<!--          <div class="chart-wrapper" style="height:58px;">-->
<!--            <canvas baseChart class="chart"-->
<!--                    [datasets]="barChart2Data"-->
<!--                    [labels]="barChart2Labels"-->
<!--                    [options]="barChart2Options"-->
<!--                    [colors]="barChart2Colours"-->
<!--                    [legend]="barChart2Legend"-->
<!--                    [chartType]="barChart2Type"></canvas>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card" (dblclick)="goToIndicators()">
        <div class="card-header bg-warning">
          <div class="font-weight-bold">
            <span>NB DE NUITS OCCUPÉES</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:150px;">
            <canvas baseChart class="chart"
                    [datasets]="barChart2Data"
                    [labels]="barChart2Labels"
                    [options]="barChart2Options"
                    [colors]="barChart2Colours"
                    [legend]="barChart2Legend"
                    [chartType]="barChart2Type"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="card">-->
<!--    <h5>Timeline</h5>-->
<!--    <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">-->
<!--      <ng-template pTemplate="marker" let-event>-->
<!--			<span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">-->
<!--                <i [ngClass]="event.icon"></i>-->
<!--            </span>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="content" let-event>-->
<!--        <p-card [header]="event.status" [subheader]="event.date">-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error-->
<!--            repudiandae numquam deserunt-->
<!--            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate-->
<!--            neque quas!</p>-->
<!--          <button pButton label="Read more" class="p-button-text"></button>-->
<!--        </p-card>-->
<!--      </ng-template>-->
<!--    </p-timeline>-->
<!--  </div>-->
<div #group>
  <mat-tab-group (selectedTabChange)="onChange($event)" [(selectedIndex)]="selectedIndex" >
    <!--    <mat-tab label="Liste des collaborateurs">-->
    <!--&lt;!&ndash;      <app-facilit-object-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [objectList]="collaborateurList" [paginator]="paginator" [sort]="sort" ></app-facilit-object-table>&ndash;&gt;-->
    <!--    </mat-tab>-->
    <mat-tab label="Liste des collaborateurs">

      <div class="card">

        <div class="card-body card-body-center" *ngIf=" collaborateurList.length==0">
          <div class="row">
            <div class="col-sm-5">
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="openAddCollabDialog(false)" class="btn btn-success add-btn float-right"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <img src="assets/img/avatars/corbeille.png" alt="no data found">
          <h3>Aucune donnée trouvée</h3>
        </div>

        <div class="card-body" *ngIf=" collaborateurList.length>0">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0"><i class="icon-people"></i> Liste des collaborateurs</h4>
              <!--<div class="small text-muted">Juin 2021</div>-->
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button (click)="openAddCollabDialog(false)" class="btn btn-success add-btn float-right" type="button"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <div class="responsive-table">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #inputCollab name="keyup">
            </mat-form-field>
            <table mat-table #sort="matSort" [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="matricule">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule</th>
                <td mat-cell *matCellDef="let element"> {{element.matricule}}</td>
              </ng-container>
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
                <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
              </ng-container>

              <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
                <td mat-cell *matCellDef="let element"> {{element.prenom}}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}}</td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}}</td>
              </ng-container>

              <ng-container matColumnDef="numeroSecu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sécurité Soc.</th>
                <td mat-cell *matCellDef="let element"> {{element.numeroSecuriteSociale}}</td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="fonction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fonction</th>
                <td mat-cell *matCellDef="let element"> {{element.fonction}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="profil">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Profil</th>
                <td mat-cell *matCellDef="let element"> {{element.profil}}</td>
              </ng-container>

              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                  <div class="button-row">
                    <div>
                      <button type="button" class="btn btn-sm  btn-primary" (click)="openModifyDialog(element)"><i
                        class="cil-pencil"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                    </div>
                    <div #tooltip="matTooltip" matTooltip="Ce collaborateur est referencé dans le système"
                         [matTooltipDisabled]="!element.responsable">
                      <button
                        [disabled]="element.responsable" type="button" class="btn btn-sm  btn-danger"
                        (click)="beSureToDelete(element.collaborateurId)"><i class="cil-x"></i></button>
                    </div>

                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row (dblclick)="displayCollaborateur(element)"
                  *matRowDef="let element; columns: displayedColumns;" class="collaborateur-row"></tr>
            </table>
          </div>
          <mat-paginator #paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Liste des tâches">

      <div class="card">

        <div class="card-body card-body-center" *ngIf=" taskList.length==0">
          <div class="row">
            <div class="col-sm-5">
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="displaytypeTask = true" class="btn btn-success add-btn float-right"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <img src="assets/img/avatars/corbeille.png" alt="no data found">
          <h3>Aucune donnée trouvée</h3>
        </div>

        <div class="card-body" *ngIf=" taskList.length>0">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0"><i class="icon-people"></i> Liste des tâches</h4>
              <!--<div class="small text-muted">Juin 2021</div>-->
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button (click)="displaytypeTask = true" class="btn btn-success add-btn float-right" type="button"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <div class="responsive-table">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyTaskFilter($event)" placeholder="Ex. ium" #inputTask name="keyup">
            </mat-form-field>
            <table #sortTask="matSort" mat-table [dataSource]="taskDataSource" matSort
                   class="mt-3 mb-3 mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro</th>
                <td mat-cell *matCellDef="let element"> {{element.numero}}</td>
              </ng-container>
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Désignation</th>
                <td mat-cell *matCellDef="let element"> {{element.designation}}</td>
              </ng-container>

              <ng-container matColumnDef="commentaire">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire</th>
                <td mat-cell *matCellDef="let element"> {{element.commentaire}}</td>
              </ng-container>

              <ng-container matColumnDef="instruction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Instruction</th>
                <td mat-cell *matCellDef="let element"> {{element.instruction}}</td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="dateDebut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date début</th>
                <td mat-cell *matCellDef="let element"> {{element.dateDebut | date : 'dd-MM-YYYY'}}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="dateFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Fin</th>
                <td mat-cell *matCellDef="let element"> {{element.dateFin | date : 'dd-MM-YYYY'}}</td>
              </ng-container>
              <ng-container matColumnDef="nature">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nature</th>
                <td mat-cell *matCellDef="let element"> {{element.natureLabel }}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.typeTacheLabel }}</td>
              </ng-container>
              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                  <div class="button-row">
                    <div>
                      <button type="button" class="btn btn-sm  btn-primary" (click)="editTask(element)"><i
                        class="cil-pencil"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-danger"
                              (click)="beSureToDeleteTask(element.taskId)"><i class="cil-x"></i></button>
                    </div>

                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="taskDisplayedColumns"></tr>
              <tr mat-row (dblclick)="viewTask(element)" *matRowDef="let element; columns: taskDisplayedColumns;"
                  class="task-row"></tr>
            </table>
          </div>
          <mat-paginator #paginatorTask [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Liste des services">

      <div class="card">


        <div class="card-body card-body-center" *ngIf=" serviceList.length==0">
          <div class="row">
            <div class="col-sm-5">
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="openAddServiceEditDialog(false)" class="btn btn-success add-btn float-right"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <img src="assets/img/avatars/corbeille.png" alt="no data found">
          <h3>Aucune donnée trouvée</h3>
        </div>


        <div class="card-body" *ngIf=" serviceList.length>0">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0"><i class="icon-people"></i> Liste des services</h4>
              <!--<div class="small text-muted">Juin 2021</div>-->
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="openAddServiceEditDialog(false)"
                      class="btn btn-success add-btn float-right"><i class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <div class="responsive-table">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyServiceFilter($event)" placeholder="Ex. ium" #inputService name="keyup">
            </mat-form-field>
            <table #sortService="matSort" mat-table [dataSource]="serviceDataSource" matSort
                   class="mt-3 mb-3 mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
                <td mat-cell *matCellDef="let element"> {{element.code}}</td>
              </ng-container>

              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Désignation</th>
                <td mat-cell *matCellDef="let element"> {{element.designation}}</td>
              </ng-container>

              <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable</th>
                <td mat-cell *matCellDef="let element"> {{element.responsableName}}</td>
              </ng-container>


              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                  <div class="button-row">
                    <div>
                      <button type="button" class="btn btn-sm  btn-primary" (click)="openModifyServiceDialog(element)">
                        <i
                          class="cil-pencil"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-danger"
                              (click)="beSureToDeleteService(element)"><i class="cil-x"></i></button>
                    </div>

                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="serviceDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: serviceDisplayedColumns;"
                  class="task-row"></tr>
            </table>
          </div>
          <mat-paginator #paginatorService [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>













<p-dialog header="Edition Collaborateur" [(visible)]="displayCollaborateurEditModal" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
           [resizable]="false">
  <form [formGroup]="collaborateurForm" (ngSubmit)="onSubmitCollaborateur()">

      <div   fxLayout="column wrap"
             fxLayoutAlign="space-between">

        <div class="col-12 " fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div class="col-4">
            <mat-form-field hintLabel="Max 10 characters" appearance="fill" class="full-space-available">
              <mat-label>Matricule</mat-label>
              <input matInput  [(ngModel)]="collaborateur.matricule" #input
                     placeholder="Ex. FHPA" formControlName="matricule" name="matricule">
              <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            </mat-form-field>
          </div>
        <div class="col-4">
          <mat-form-field hintLabel="Max 10 characters" appearance="fill" class="full-space-available">
            <mat-label>Nom</mat-label>
            <input matInput  [(ngModel)]="collaborateur.nom" #input
                   placeholder="Ex. FHPA" formControlName="nom" name="nom">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill" class="full-space-available">
            <mat-label>Prénom</mat-label>
            <input  matInput [(ngModel)]="collaborateur.prenom" #input
                   placeholder="Ex. Facilit" formControlName="prenom" name="prenom">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        </div>
      </div>

        <div class="col-12 " fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="col-xl-3 col-md-3">
          <mat-form-field appearance="fill" class="full-space-available">
            <mat-label>Email</mat-label>
            <input  [(ngModel)]="collaborateur.email" matInput #input
                   placeholder="Ex. ent@example.com" formControlName="email" name="email" >
            <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->
          </mat-form-field>
        </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Date Naissance</mat-label>
              <input  [matDatepicker]="dateNaissance" matInput [(ngModel)]="collaborateur.dateNaissance"
                     placeholder="31/12/2020" name="dateNaissance" formControlName="dateNaissance">
              <mat-datepicker-toggle matSuffix [for]="dateNaissance"></mat-datepicker-toggle>
              <mat-datepicker #dateNaissance></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Lieu Naissance</mat-label>
              <input  [(ngModel)]="collaborateur.lieuNaissance" matInput #input
                      placeholder="Ex. ent@example.com" formControlName="lieuNaissance" name="lieuNaissance" >
              <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Sécurité sociale</mat-label>
              <input  [(ngModel)]="collaborateur.numeroSecuriteSociale" matInput #input
                      placeholder="Ex. ent@example.com" formControlName="numeroSecuriteSociale" name="numeroSecuriteSociale" >
              <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->
            </mat-form-field>
          </div>
      </div>


        <div class="col-12 " fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill">
              <mat-label>Fonction</mat-label>
              <mat-select ngDefaultControl [(ngModel)]="collaborateur.niveauHierarchique"
                          formControlName="niveauHierarchique" name="niveauHierarchique" value="">
                <mat-option value="-1">Aucun</mat-option>
                <mat-option *ngFor="let fonction of fonctionList" [value]="fonction.code">{{fonction.label}}</mat-option>
              </mat-select>
              <mat-hint align="end">Fonction</mat-hint>
            </mat-form-field>

          </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Profil</mat-label>
              <input  [(ngModel)]="collaborateur.profil" matInput #input
                      placeholder="Ex. Nougat" formControlName="profil" name="siret">
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill">
              <mat-label>Service</mat-label>
              <mat-select ngDefaultControl  [(ngModel)]="collaborateur.serviceIds"
                           [formControl]="collaborateurForm.controls.serviceIds" name="services"  multiple>
                <mat-option value="-1">Aucun</mat-option>
                <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">{{service.designation}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-xl-3 col-md-3">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Telephone</mat-label>
              <input  [(ngModel)]="collaborateur.telephone" matInput #input
                      placeholder="Ex. Nougat" formControlName="telephone" name="telephone">
            </mat-form-field>
          </div>
      </div>






        <div class="col-6" fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start">
            <h4> Adresse </h4>
          </div>
          <div fxLayoutAlign="flex-start">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>N°</mat-label>
              <input  #input [(ngModel)]="collaborateur.block" formControlName="block" matInput name="block">
            </mat-form-field>
          </div>

          <div class="label" fxLayoutAlign="flex-start">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Rue</mat-label>
              <input  #input [(ngModel)]="collaborateur.rue" formControlName="rue" matInput name="rue">
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div class=" col-6 label" fxLayoutAlign="flex-start">
              <mat-form-field appearance="fill" class="full-space-available">
                <mat-label>Ville</mat-label>
                <input  #input [(ngModel)]="collaborateur.ville" formControlName="ville" matInput name="ville">
              </mat-form-field>
            </div>
            <div class="col-6 label">
              <mat-form-field appearance="fill" class="full-space-available">
                <mat-label>Code postal</mat-label>
                <input  #input [(ngModel)]="collaborateur.codePostal" formControlName="codePostal" matInput name="codePostal">
              </mat-form-field>
            </div>
          </div>
        </div>

    </div>
    <button  class="btn btn-success add-btn float-right" type="submit">Enregistrer</button>
    <button (click)="displayCollaborateurEditModal=false"  class="btn btn-danger add-btn float-right" type="submit">Annuler</button>

  </form>

</p-dialog>

<p-dialog header="Choix type de tâche" [(visible)]="displaytypeTask" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <div class="task-type-block mr-t-2" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <p-card (click)="newTask(0)" [style]="{'width': '215px', 'margin-bottom': '2em'}">
    <img alt="Card" src="assets/img/avatars/work.png">
    <ng-template pTemplate="footer">
      Tâches
    </ng-template>
  </p-card>
    <p-card (click)="newTask(1)" [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/compteur-eau.png">
      <ng-template pTemplate="footer">
        Relevés
      </ng-template>
    </p-card>
    <p-card (click)="newTask(2)"  [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/to-do-list.png">
      <ng-template pTemplate="footer">
        CheckList
      </ng-template>
    </p-card>
    <p-card (click)="newTask(3)"  [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/scheduling.png">
      <ng-template pTemplate="footer">
        Saisie de temps
      </ng-template>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displaytypeTask=false"  label="Annuler" class="p-button-danger"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Edition Service" [(visible)]="displayService" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <div >
    <form *ngIf="serviceForm" [formGroup]="serviceForm" (ngSubmit)="onSubmitService()">
        <div class=" mr-t-2" fxLayout="row" fxLayoutAlign="space-around center" >
          <div class="col-4">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Code</mat-label>
              <input matInput  [(ngModel)]="service.code" #input
                     placeholder="Ex. FHPA" formControlName="code" name="code">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Désignation</mat-label>
              <input  matInput [(ngModel)]="service.designation" #input m
                     placeholder="Ex. Facilit" formControlName="designation" name="designation">
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-md-4">
            <mat-form-field appearance="fill" class="full-space-available">
              <mat-label>Responsable</mat-label>
              <mat-select ngDefaultControl  [(ngModel)]="service.responsableId" name="responsable"
                           formControlName="responsable">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let respo of responsableList" [value]="respo.collaborateurId">{{respo.nom}}
                  {{respo.prenom}}
                </mat-option>
              </mat-select>
              <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->

            </mat-form-field>
          </div>
        </div>


      <div mat-dialog-actions class="float-right">
        <button  class="btn btn-danger mr-2" (click)="displaytypeTask=false">Annuler</button>
        <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

      </div>
    </form>
  </div>
</p-dialog>
