table {
  width: 100%;
  min-width: max-content;
}
.responsive-table{
  overflow-x:auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.collaborateur-row:hover {
  background: whitesmoke;
}

tr.collaborateur-row:active {
  background: #efefef;
}

tr.task-row:hover {
  background: whitesmoke;
}

tr.task-row:active {
  background: #efefef;
}

.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }
}

@media screen and (max-width: 960px) {
  ::ng-deep {
    .customized-timeline {
      .p-timeline-event:nth-child(even) {
        flex-direction: row !important;

        .p-timeline-event-content {
          text-align: left !important;
        }
      }

      .p-timeline-event-opposite {
        flex: 0;
      }

      .p-card {
        margin-top: 1rem;
      }
    }
  }
}



:host {
  ::ng-deep .labelEntreprise .p-card-body {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 0;
  }
}

:host {
  ::ng-deep .p-card .p-card-body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
  }
}

.entreprise-type-container {
  width: 70%;
}
.task-type-block {
  border-bottom: 1px solid #c8ced3;
  width: 100%;
}

.mr-t-2 {
  margin-top: 2%;
}
:host {
  ::ng-deep .p-component-overlay {
    z-index: 1 !important;
  }
}
.card-body-center{
  text-align: center;
}
