<p-toast position="bottom-right"></p-toast>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <!--<h4 class="card-title mb-0"> <i class="cil-building"></i> Liste des entreprises</h4>-->
          <!--<div class="small text-muted">Juin 2021</div>-->
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" (click)="openAddDialog(false)" class="btn btn-success add-btn float-right"><i
            class="cil-plus"></i> Ajouter
          </button>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input name="keyup">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
            <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
            <td mat-cell *matCellDef="let element"> {{element.prenom}}</td>
          </ng-container>

          <ng-container matColumnDef="dateCreation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date création</th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreation | date : 'dd-MM-yyyy'}}</td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
            <td mat-cell *matCellDef="let element"> {{element.username}}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rôle</th>
            <td mat-cell *matCellDef="let element"> <span *ngFor="let role of element.roles;let i=index">{{role}} <span *ngIf="element.roles.length>i+1">/</span> </span></td>
          </ng-container>

          <ng-container matColumnDef="dateDerniereConnexion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dernière Connexion</th>
            <td mat-cell *matCellDef="let element"> {{element.dateDerniereConnexion | date : 'dd-MMM-yyyy HH:ss'}}</td>
          </ng-container>

          <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="button-row">
                <div>
                  <button matTooltip="Modifier l'utilisateur" type="button" class="btn btn-sm  btn-primary" (click)="openModifyDialog(element)"><i
                    class="cil-pencil"></i></button>
                </div>
                <div>
                  <button  matTooltip="Réinitialiser le mot de passe" type="button" class="btn btn-sm  btn-warning" (click)="confirmReset(element.email)"><i class="cil-wrap-text"></i></button>
                </div>
                <div>
                  <button matTooltip="Supprimer l'utilisateur" type="button" class="btn btn-sm  btn-danger"
                          (click)="beSureToDelete(element.id)"><i class="cil-x"></i></button>
                </div>

              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (dblclick)="displayUser(element)" *matRowDef="let element; columns: displayedColumns;"
              class="entreprise-row"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
