:host ::ng-deep .drag-column {
  padding-right: .5em;
}

.drop-column {
  border: 1px solid transparent;
  transition: border-color .2s;

  &.p-draggable-enter {
    border-color: var(--primary-color);
  }
}

.user-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;
  border-bottom: 1px solid var(--surface-d);

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .user-list-detail {
    flex: 1 1 0;
  }

  .user-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .user-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .user-category {
    vertical-align: middle;
    line-height: 1;
  }
}

[pDraggable] {
  cursor: move;
}

@media screen and (max-width: 576px) {
  .user-item {
    flex-wrap: wrap;

    .image-container {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 100px;
    }
  }
}

.drag-data {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 450px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.entreprise-row:hover {
  background: whitesmoke;
}

tr.entreprise-row:active {
  background: #efefef;
}
