<app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<div fxLayout="column" fxLayoutAlign="space-around">
<p-panel header="Installations"  [toggleable]="true">
  <ng-template pTemplate="icons">
  <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
    <span class="pi pi-cog"></span>
  </button>
  <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
  </ng-template>
  <p-listbox ngDefaultControl name="designation" [options]="installations" [(ngModel)]="selectedCity" optionLabel="designation">
    <ng-template let-installation pTemplate="item">
      <div class="country-item">
        <div>{{installation.designation}}</div>
      </div>
    </ng-template>
  </p-listbox>
</p-panel>

<p-dialog header="Ajout installation" [(visible)]="displayInstallationModal" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="installationForm">
  <div fxLayout="row wrap" fxLayoutAlign="space-around">

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select  required  matInput [attr.name]="'type'" formControlName="type">
        <mat-option [value]="1" >Non specfic</mat-option>
        <mat-option [value]="2">Compteur</mat-option>
        <mat-option [value]="3">Piscine</mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="installationForm.get('type')?.value==2" appearance="outline">
      <mat-label>Numero</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="numero" name="numero">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Désignation</mat-label>
      <input required matInput placeholder="Désignation" formControlName="designation" name="designation">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="nombre" name="nombre">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fournisseur</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="fournisseur" name="fournisseur">
    </mat-form-field>

    <mat-form-field *ngIf="installationForm.get('type')?.value==2" appearance="outline">
      <mat-label>Valeur</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="valeur" name="valeur">
    </mat-form-field>
    <mat-form-field *ngIf="installationForm.get('type')?.value==2" appearance="outline">
      <mat-label>Capacité</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="capacite" name="capacite">
    </mat-form-field>
    <mat-form-field *ngIf="installationForm.get('type')?.value==2" appearance="outline">
      <mat-label>Nature</mat-label>
      <input required matInput placeholder="Placeholder" formControlName="nature" name="nature">
    </mat-form-field>

  </div>
  <div>
    <button [disabled]="installationForm.invalid" (click)="saveInstallation()" class="btn btn-success  float-right" >Enregistrer</button>
  </div>
  </form>
</p-dialog>

<p-panel header="Abonnement"  [toggleable]="true" style="margin-top:2%;">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu2.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu2 id="config_menu2" [model]="items" [popup]="true"></p-menu>
  </ng-template>
</p-panel>
</div>
