<div class="card" *ngIf="lineChart">
  <div class="card-header " [ngClass]="bgclass">
    <div class="font-weight-bold">
      <span>{{lineChart.libelle}}</span>
      <span class="float-right">{{lineChart.value}}</span>
    </div>
    <div>
            <span>
              <small>Année 2021</small>
            </span>
      <span class="float-right">
              <small>{{lineChart.diff}} ({{lineChart.rate}})</small>
            </span>
    </div>
    <div *ngIf="lineChart && lineChart.data" class="chart-wrapper" [style]="{'height': height}" >
      <canvas baseChart class="chart"
              [datasets]="lineChart.data"
              [labels]="lineChart.labels"
              [options]="lineChart.options"
              [colors]="lineChart.colors"
              [legend]="lineChart.legend"
              [chartType]="lineChart.type"></canvas>
    </div>
  </div>
</div>
