<p-toast position="bottom-right"></p-toast>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginform" (ngSubmit)="onLogin()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid':loginform.touched && loginform.get('username').hasError('required'),'is-valid':loginform.touched && !loginform.get('username').hasError('required')}" formControlName="username" name="username"
                           placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" [ngClass]="{'is-invalid':loginform.touched && loginform.get('password').hasError('required'),'is-valid':loginform.touched && !loginform.get('password').hasError('required')}" class="form-control " name="password"
                           placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class=" form-check  mb-3">
                    <input formControlName="remindMe" class="form-check-input" type="checkbox" [value]="true" id="remindMe">
                    <label class="form-check-label" for="remindMe">
                      Se souvenir de moi
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit"  class="btn btn-primary px-4">Connexion</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Mot de passe oublié?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
      </div>
    </div>


    <p-dialog header="Choix du niveau d'accès" [(visible)]="displayBasic" [style]="{width: '50vw'}"
              [baseZIndex]="10000">
      <div *ngFor="let role of roles" class="p-field-checkbox align-radio">
        <p-radioButton [inputId]="role.key" name="category" [value]="role" [(ngModel)]="selectedrole"
        ></p-radioButton>
        <label [for]="role.key">{{role.name}}</label>
      </div>
      <br/>
      <p-accordion *ngIf="selectedrole?.name=='COLLAB_FACILIT'">
        <p-accordionTab header="Veuillez sélectionnez une entreprise" [selected]="true">
          <p-listbox [options]="entrepriseList" [(ngModel)]="selectedEnt" optionLabel="nomCommercial"
                     [style]="{'width':'100%'}"></p-listbox>
        </p-accordionTab>
      </p-accordion>
      <ng-template pTemplate="footer">
        <button pButton (click)="displayBasic=false" type="button" label="Annuler"
                class="p-button-raised p-button-secondary"></button>
        <p-button (click)="goToDashboard()" label="Suivant"></p-button>

      </ng-template>
    </p-dialog>
  </main>
</div>

