<h1 mat-dialog-title>Ajouter une nouvelle entreprise</h1>
<form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-full-width mr-3">
        <mat-label>Code</mat-label>
        <input matInput (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.code" #input
               placeholder="Ex. FHPA" formControlName="code" name="code">
      </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nom commercial</mat-label>
        <input (ngModelChange)="onChangeEntreprise()" matInput [(ngModel)]="entreprise.nomCommercial" #input
               placeholder="Ex. Facilit" formControlName="nomCommercial" name="nomCommercial">
      </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width mr-3" appearance="fill">
            <mat-label>Adresse 1</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Adresse 2</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ville</mat-label>
            <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.ville" matInput
                   placeholder="Ex. San Francisco" formControlName="ville" name="ville">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Code postal</mat-label>
            <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.codePostal" matInput #postalCode
                   maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="codePostal" name="codePostal">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Departement</mat-label>
            <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.codePostal" matInput #postalCode
                   maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="codePostal" name="codePostal">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-full-width mr-3">
            <mat-label>Email</mat-label>
            <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.emailContact" matInput #input
                   placeholder="Ex. ent@example.com" formControlName="emailContact" name="emailContact" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Siret</mat-label>
            <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.siret" matInput #input
                   placeholder="Ex. Nougat" formControlName="siret" name="siret">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-full-width mr-3">
            <mat-label>Telephone</mat-label>
            <input matInput (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.telephone" #input
                   placeholder="Ex. Nougat" formControlName="telephone" name="telephone">
          </mat-form-field>
        </td>

      </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Statut</mat-label>
            <mat-select ngDefaultControl (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.type" formControlName="type"
                        name="type">
              <mat-option value="SARL">SARL</mat-option>
              <mat-option value="SA">SA</mat-option>
              <mat-option value="SAS">SAS</mat-option>
            </mat-select>
            <mat-hint align="end">Statut juridique</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>


  </div>

  <div mat-dialog-actions class="float-right">
    <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
    <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

  </div>
</form>
