<div class="overlay">
  <p-dialog [(visible)]="showLoader" [baseZIndex]="10000" [blockScroll]="true" [dismissableMask]="false"
            [draggable]="false" [showHeader]="false" header="Chargement">
    <div class="spinner-content">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-dialog>
</div>
