.spinner-content {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5); /* color */
  z-index: 100000 !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem;
  background: none;
}

:host ::ng-deep .p-dialog {
  box-shadow: none;
  border-radius: 0;
}
