<p-panel class="mt-2" *ngIf="task && task.typeTache==0" header="Etapes"  [toggleable]="true" [style]="{'margin-top':'2%'}">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link">
      <span class="pi pi-cog"></span>
    </button>
  </ng-template>
  <div *ngIf="task.typeTache==0" class="card">
    <div class="card-body">
      <div *ngIf="etapeListReady">
        <p-steps *ngIf="steps.length>0" [(activeIndex)]="activeIndex" [model]="steps" [readonly]="false"></p-steps>
        <div class="steps-button">
          <button type="button" (click)="removeLastStep()" class="btn btn-danger add-btn float-left"><i
            class="cil-minus"></i></button>
          <button type="button" (click)="addStep()" class="btn btn-success add-btn float-right"><i class="cil-plus"></i>
          </button>
        </div>
        <div *ngIf="etape" class="row mt-5 step-edit">
          <div class="col-2">
            <mat-form-field class="example-full-width">
              <mat-label>Numéro etape</mat-label>
              <input [value]="etape?.ordre" disabled matInput>
            </mat-form-field>
          </div>
          <div class="col-2 label">
            <mat-form-field class="example-full-width">
              <mat-label>Désignation</mat-label>
              <input [(ngModel)]="etape.designation" matInput>
            </mat-form-field>
          </div>
          <div class="col-2 label">
            <mat-form-field class="example-full-width">
              <mat-label>Date début</mat-label>
              <input [matDatepicker]="pickerEtapeDeb" [(ngModel)]="etape.dateDebut" matInput placeholder="01/01/2020"
                     name="dateDebut">
              <mat-datepicker-toggle matSuffix [for]="pickerEtapeDeb"></mat-datepicker-toggle>
              <mat-datepicker #pickerEtapeDeb></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-2 label">
            <mat-form-field class="example-full-width">
              <mat-label>Date fin</mat-label>
              <input [matDatepicker]="pickerEtapeFin" [(ngModel)]="etape.dateFin" matInput placeholder="01/01/2020"
                     name="dateFin">
              <mat-datepicker-toggle matSuffix [for]="pickerEtapeFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerEtapeFin></mat-datepicker>
            </mat-form-field>
          </div>

        </div>

        <button type="button" (click)="updateStep(etape)" class="btn btn-success add-btn float-right">
          Enregistrer
        </button>

      </div>
    </div>
  </div>
</p-panel>
