<app-loader-pop-up class="loading" *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<p-toast position="bottom-right"></p-toast>

<div class="row">
  <div class="col-lg-12">
    <div class="card">

      <div class="card-header">
        <i class="fa fa-align-justify"></i> {{this.entreprise?.entrepriseType | uppercase}}
      </div>
      <div *ngIf="formReady" class="card-body" style="background: aliceblue;">
        <form  [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
          <div class="profilPanel mb-4">
            <div fxLayout.lt-lg="column"  fxLayout="row wrap" fxLayoutAlign="center" >
              <div class="col col-lg-2" fxLayout="column" fxLayoutAlign=" center">
                <div class="example-small-box col-1" fxLayout="column" fxLayoutAlign="center center">
                  <img (click)="selectedFile()" [id]="'ent-'+entrepriseId" [src]="entreprise.pictureUrl">
                  <input #selectImage (change)="updateImage($event)" id="input-img" name="image" style="display: none"
                         type="file">
                </div>
                <div fxLayoutAlign="center">
                  <mat-progress-bar *ngIf="selectedFiles" [value]="progress" mode="determinate"></mat-progress-bar>
                  <button (click)="upload()" *ngIf="selectedFiles" class="btn btn-success btn-sm">
                    Upload
                  </button>
                </div>
              </div>
              <div class="col col-lg-10" fxLayout="column" fxLayoutAlign="start">
                <div class="box" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutAlign="space-between">
                  <div class="col col-lg-6" fxLayout="column" fxLayoutAlign="center">
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Code</mat-label>
                        <input #input  formControlName="code" matInput name="code">
                      </mat-form-field>
                    </div>
                    <div fxLayout="row "  fxLayoutAlign="space-between">
                      <div>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Nom Commercial</mat-label>
                        <input #input  formControlName="nomCommercial" matInput
                               name="nomCommercial">
                      </mat-form-field>
                      </div>
                      <div>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Statut Juridique</mat-label>
                        <mat-select ngDefaultControl [(ngModel)]="entreprise.statutJuridique"
                                    [attr.name]="'statutJuridique'" formControlName="statutJuridique">
                          <mat-option [value]="1">SARL</mat-option>
                          <mat-option [value]="2">SA</mat-option>
                          <mat-option [value]="3">SAS</mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-6" fxLayout="column" fxLayoutAlign="center">
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Email contact</mat-label>
                        <input #input  formControlName="emailContact" matInput
                               name="code">
                        <mat-error *ngIf="entrepriseForm.controls.emailContact.errors?.alreadyExist">Email existe déjà</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row "  fxLayoutAlign="space-between">
                     <div>
                       <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Telephone fixe</mat-label>
                        <input #input [(ngModel)]="entreprise.telephone" formControlName="telephone" matInput
                               name="telephone">
                      </mat-form-field>
                     </div>
                      <div>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Telephone portable</mat-label>
                        <input #input [(ngModel)]="entreprise.telephone2" formControlName="telephone2" matInput
                               name="telephone">
                      </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box" fxLayout.lt-md="column"  fxLayout="row wrap" fxLayoutAlign="space-between">
                  <div class="col col-lg-6" fxLayout="column">
                    <div fxLayoutAlign="flex-start">
                      <h4> Adresse siège</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>N°</mat-label>
                        <input #input  formControlName="block" matInput name="block">
                      </mat-form-field>
                    </div>

                    <div class="label" fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Rue</mat-label>
                        <input #input  formControlName="rue" matInput
                               name="rue">
                      </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayout.lt-md="column"  fxLayoutAlign="space-between">
                      <div class="col col-lg-6 label" fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Ville</mat-label>
                          <input #input  formControlName="ville" matInput
                                 name="ville">
                        </mat-form-field>
                      </div>
                      <div class="col col-lg-6 label">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Code postal</mat-label>
                          <input #input  formControlName="codePostal" matInput
                                 name="codePostal">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-6" fxLayout="column">
                    <div fxLayoutAlign="flex-start">
                      <h4> Adresse établissement</h4>
                    </div>
                    <div fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>N°</mat-label>
                        <input #input [(ngModel)]="entreprise.block2" formControlName="block2" matInput name="block2">
                      </mat-form-field>
                    </div>

                    <div class="label" fxLayoutAlign="flex-start">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Rue</mat-label>
                        <input #input [(ngModel)]="entreprise.rue2" formControlName="rue2" matInput
                               name="rue2">
                      </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayout.lt-md="column"  fxLayoutAlign="space-between">
                      <div class=" col col-lg-6 label" fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Ville</mat-label>
                          <input #input [(ngModel)]="entreprise.ville2" formControlName="ville2" matInput
                                 name="ville2">
                        </mat-form-field>
                      </div>
                      <div class="col col-lg-6 label">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Code postal</mat-label>
                          <input #input [(ngModel)]="entreprise.codePostal2" formControlName="codePostal2" matInput
                                 name="codePostal2">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box" fxLayout="row wrap" fxLayoutAlign="space-between">
                  <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">
                    <div class="col-6" fxLayout="row" fxLayoutAlign="space-between">
                      <div class="col-2" fxLayoutAlign="flex-start center">
                        <h4>SIRET</h4>
                      </div>
                      <mat-form-field appearance="outline" class="example-full-width col-8">
                        <mat-label>SIREN</mat-label>
                        <input #input [(ngModel)]="entreprise.siren" formControlName="siren" matInput name="siren">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="example-full-width col-2">
                        <mat-label>NIC</mat-label>
                        <input #input [(ngModel)]="entreprise.nic" formControlName="nic" matInput name="nic">
                      </mat-form-field>
                    </div>

                    <div class="col-6" fxLayout="row" fxLayoutAlign="space-between">
                      <div class="col-2" fxLayoutAlign="flex-start center">
                        <h4>Code APE</h4>
                      </div>
                      <mat-form-field appearance="outline" class="example-full-width col-10">
                        <mat-label>Code APE</mat-label>
                        <input #input [(ngModel)]="entreprise.codeAPE" formControlName="codeAPE" matInput
                               name="codeAPE">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">
                    <div class="col-6" fxLayout="row" fxLayoutAlign="space-between">
                      <div class="col-2" fxLayoutAlign="flex-start center">
                        <h4>RCS</h4>
                      </div>
                      <mat-form-field appearance="outline" class="example-full-width col-6">
                        <mat-label>RCS</mat-label>
                        <input #input [(ngModel)]="entreprise.rcs" formControlName="rcs" matInput name="rcs">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="example-full-width col-4">
                        <mat-label>N° TVA</mat-label>
                        <input #input [(ngModel)]="entreprise.numeroTva" formControlName="numeroTva" matInput name="numeroTva">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <mat-accordion class="camping-expansion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Données bancaires
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div   fxLayout="column wrap"
                          fxLayoutAlign="space-between">
                      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div class="col-2" fxLayoutAlign="flex-start center">
                          <h4>IBAN</h4>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
                          <mat-form-field appearance="outline" class="example-full-width ">
                            <mat-label>IBAN</mat-label>
                            <input readonly #input [(ngModel)]="rib.iban"  matInput
                                   name="iban" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div class="col-2" fxLayoutAlign="flex-start center">
                          <h4>BIC</h4>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
                          <mat-form-field class="example-full-width " appearance="outline"  >
                            <mat-label>BIC</mat-label>
                            <input readonly #input [(ngModel)]="rib.bic"  matInput
                                   name="bic" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div class="col-2" fxLayoutAlign="flex-start center">
                          <h4>Nom de la banque</h4>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
                          <mat-form-field appearance="outline" class="example-full-width ">
                            <mat-label>Libelle</mat-label>
                            <input readonly #input [(ngModel)]="rib.libelle"  matInput
                                   name="libelle" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start" >
                      <div class="col-1" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayoutAlign="flex-start center">
                          <h4>Banque</h4>
                        </div>
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-label>Banque</mat-label>
                          <input readonly #input [(ngModel)]="rib.banque"  matInput name="banque" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>
                      <div class="col-2" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayoutAlign="flex-start center">
                          <h4>Guichet</h4>
                        </div>
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-label>Guichet</mat-label>
                          <input readonly #input [(ngModel)]="rib.guichet"  matInput name="guichet" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>
                      <div class="col-3" fxLayout="column" fxLayoutAlign="space-between">
                        <div  fxLayoutAlign="flex-start center">
                          <h4>N° de compte</h4>
                        </div>
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-label>N° de compte</mat-label>
                          <input readonly #input [(ngModel)]="rib.numeroDeCompte"  matInput name="numeroDeCompte" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>
                      <div class="col-3" fxLayout="column" fxLayoutAlign="space-between">
                        <div  fxLayoutAlign="flex-start center">
                          <h4>Clé</h4>
                        </div>
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-label>Clé</mat-label>
                          <input readonly #input [(ngModel)]="rib.cle"  matInput name="cle" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-6" fxLayout="column">
                      <div fxLayoutAlign="flex-start">
                        <h4> Adresse établissement</h4>
                      </div>
                      <div fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>N°</mat-label>
                          <input readonly #input [(ngModel)]="rib.block" matInput name="block" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>

                      <div class="label" fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Rue</mat-label>
                          <input readonly #input [(ngModel)]="rib.rue"  matInput
                                 name="rue" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </div>

                      <div fxLayout="row wrap" fxLayoutAlign="space-between">
                        <div class=" col-6 label" fxLayoutAlign="flex-start">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Ville</mat-label>
                            <input readonly #input [(ngModel)]="rib.ville"  matInput
                                   name="ville" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                        <div class="col-6 label">
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Code postal</mat-label>
                            <input readonly #input [(ngModel)]="rib.codePostal"  matInput
                                   name="codePostal" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                      <div class="col-12" fxLayout="row wrap" fxLayoutAlign="end end">
                        <button type="button" class="btn btn-primary add-btn float-right" (click)="displayRib()"><i class="cil-scale"></i> Ouvrir</button>
                      </div>

                  </mat-expansion-panel>
                </mat-accordion>
                <!--[ngClass]="{'error-class': entrepriseForm.controls.dateDernierClassement?.errors?.required}"-->

                <mat-accordion  *ngIf="entreprise.entrepriseType=='CAMPING'" class="camping-expansion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Détail camping
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div  class="box" fxLayout="row wrap"
                         fxLayoutAlign="space-between">
                      <div class="col-12 " fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div class="col-3" fxLayout="row" fxLayoutAlign="center center">
                          <div fxLayout="column" fxLayoutAlign="center center">
                            <div fxLayoutAlign="flex-start">
                              <h4> Classement</h4>
                            </div>
                            <div>
                              <p-rating [cancel]="false" [(ngModel)]="entreprise.classement" [stars]="5" formControlName="classement"></p-rating>
                            </div>

                          </div>
                      </div>

                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Nombre emplacments</mat-label>
                            <input #input [(ngModel)]="entreprise.nombreEmplacement" formControlName="nombreEmplacement"
                                   matInput name="nombreEmplacement">
                          </mat-form-field>
                        </div>
                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Supercifie</mat-label>
                            <input #input [(ngModel)]="entreprise.superficie" formControlName="superficie" matInput
                                   name="superficie">
                          </mat-form-field>
                        </div>
                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Situation géographique</mat-label>
                            <input #input [(ngModel)]="entreprise.situationGeographique"
                                   formControlName="situationGeographique" matInput
                                   name="situationGeographique">
                          </mat-form-field>
                        </div>
                      </div>

                    </div>
                    <div *ngIf="entreprise.entrepriseType=='CAMPING'" class="box" fxLayout="row wrap"
                         fxLayoutAlign="space-between">
                      <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">


                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Date dernier classement</mat-label>
                            <input #input [(ngModel)]="entreprise.dateDernierClassement" [matDatepicker]="pickerderClass"
                                   formControlName="dateDernierClassement"
                                   matInput name="dateDernierClassement" placeholder="01/01/2020">
                            <mat-datepicker-toggle [for]="pickerderClass" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerderClass></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Date prochain classement</mat-label>
                            <input #input [(ngModel)]="entreprise.dateProchainClassement" [matDatepicker]="pickerproClass"
                                   formControlName="dateProchainClassement"
                                   matInput name="dateProchainClassement" placeholder="01/01/2020">
                            <mat-datepicker-toggle [for]="pickerproClass" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerproClass></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Date création</mat-label>
                            <input #input [(ngModel)]="entreprise.dateCreation" [matDatepicker]="pickerdateCrea"
                                   formControlName="dateCreation"
                                   matInput name="dateCreation" placeholder="01/01/2020">
                            <mat-datepicker-toggle [for]="pickerdateCrea" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerdateCrea></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-3" fxLayout="row" fxLayoutAlign="space-between">
                          <mat-form-field appearance="outline" class="example-full-width col-10">
                            <mat-label>Propriete fonciere</mat-label>
                            <mat-select ngDefaultControl [(ngModel)]="entreprise.proprieteFonciere" formControlName="proprieteFonciere"
                                        [attr.name]="'proprieteFonciere'">
                              <mat-option value="false">Non</mat-option>
                              <mat-option value="true">Oui</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>


          </div>
          <button    matTooltip="Vérifiez votre saisie"
                  [matTooltipDisabled]="!entrepriseForm.invalid"   class="btn btn-success add-btn float-right" type="submit">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>

<p-panel header="Emplacements" *ngIf="entreprise.entrepriseType=='CAMPING'"  [toggleable]="true" style="margin-top:2%;">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu2.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu2 id="config_menu2" [model]="items" [popup]="true"></p-menu>
  </ng-template>
  <div class="card-body-center" *ngIf=" emplacementsLocatif.length==0 && emplacementsLibre.length==0">
    <img src="assets/img/avatars/corbeille.png" alt="no data found">
    <h4>Aucune donnée trouvée</h4>
  </div>
  <div *ngIf="emplacementsLocatif?.length>0" class="col-12" fxLayout="row wrap" fxLayoutAlign="start start">
    <h3>Locatifs</h3>
  </div>
  <div *ngFor="let emplacement of emplacementsLocatif" >
    <mat-accordion  >
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{emplacement.nom}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--        <form (ngSubmit)="onSubmit()" [formGroup]="emplacementForm">-->
        <div  fxLayout="row wrap" fxLayoutAlign="space-between">
          <div class="col-12" fxLayout.lt-lg="column" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="col col-lg-6" fxLayout="row" fxLayoutAlign="flex-start">
              <div class="col-4" fxLayoutAlign="flex-start center">
                <h4>Nombre total</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width col-4">
                <mat-label>Emplacements</mat-label>
                <input readonly #input [(ngModel)]="emplacement.nombreTotal"  matInput name="nombreTotalEmp">
              </mat-form-field>
            </div>
          </div>
          <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div  fxLayout="column" fxLayoutAlign="space-between">
              <div fxLayoutAlign="flex-start center">
                <h4>Type locatifs</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Type</mat-label>
                <mat-select ngDefaultControl disabled [(ngModel)]="emplacement.nature"  matInput [attr.name]="'type'" >
                  <mat-option [value]="-1">None</mat-option>
                  <mat-option [value]="1" >Mobile Home</mat-option>
                  <mat-option [value]="2" >Auberge</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Nbre chambre</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Chambre</mat-label>
                <input readonly #input [(ngModel)]="emplacement.nombreChambre"  matInput name="nombreChambre">
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Nbre S.D.B</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>SDB</mat-label>
                <input readonly #input [(ngModel)]="emplacement.nombreSDB"  matInput name="nombreSDB">
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Capacité</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Capacité</mat-label>
                <input readonly #input [(ngModel)]="emplacement.capacite"  matInput name="capacite">
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Superf. Moy.</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Superficie</mat-label>
                <input readonly #input [(ngModel)]="emplacement.superficieMoyenne"  matInput name="superficieMoyenne">
              </mat-form-field>
            </div>
          </div>
          <div class="col-12" fxLayout="row wrap" fxLayoutAlign="end end">
            <button class="btn btn-danger add-btn float-right" ><i class="cil-scale"></i> Supprimer</button>
            <button class="btn btn-primary add-btn float-right ml-1" (click)="displayEmplacement(emplacement)"><i class="cil-scale"></i> Ouvrir</button>
          </div>
        </div>
        <!--        </form>-->
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="emplacementsLibre?.length>0" class="col-12 camping-expansion" fxLayout="row wrap" fxLayoutAlign="start start">
    <h3>Emplacements libres</h3>
  </div>
  <div *ngFor="let emplacement of emplacementsLibre" >
    <mat-accordion  >
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{emplacement.nom}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--        <form (ngSubmit)="onSubmit()" [formGroup]="emplacementForm">-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div class="col-12" fxLayout.lt-sm="column" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="col col-md-3" fxLayout="column" fxLayoutAlign="space-between">
              <div fxLayoutAlign="flex-start center">
                <h4>Désignation</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Désignation</mat-label>
                <input  [(ngModel)]="emplacement.nom" readonly #input   matInput name="designation">
              </mat-form-field>
            </div>
            <div class="col col-md-3" fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Capacité</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Capacité</mat-label>
                <input readonly #input [(ngModel)]="emplacement.capacite"  matInput name="capacite">
              </mat-form-field>
            </div>
            <div class="col col-md-3" fxLayout="column" fxLayoutAlign="space-between">
              <div  fxLayoutAlign="flex-start center">
                <h4>Superf. Moy.</h4>
              </div>
              <mat-form-field appearance="outline" class="example-full-width ">
                <mat-label>Superficie</mat-label>
                <input readonly #input [(ngModel)]="emplacement.superficieMoyenne"  matInput name="superficieMoyenne">
              </mat-form-field>
            </div>
          </div>
          <div class="col-12" fxLayout="row wrap" fxLayoutAlign="end end">
            <button class="btn btn-danger add-btn float-right" ><i class="cil-scale"></i> Supprimer</button>
            <button class="btn btn-primary add-btn float-right ml-1" (click)="displayEmplacement(emplacement)"><i class="cil-scale"></i> Ouvrir</button>
          </div>
        </div>
        <!--        </form>-->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</p-panel>




<p-dialog header="Modification Rib" [(visible)]="displayRibEditModal" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form *ngIf="ribForm" (ngSubmit)="onSubmitRib()" [formGroup]="ribForm">
    <div   fxLayout="column wrap"
           fxLayoutAlign="space-between">
      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="col-2" fxLayoutAlign="flex-start center">
          <h4>IBAN</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>IBAN</mat-label>
            <input  #input [(ngModel)]="rib.iban" formControlName="iban" matInput
                   name="iban">
          </mat-form-field>
        </div>
      </div>
      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="col-2" fxLayoutAlign="flex-start center">
          <h4>BIC</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
          <mat-form-field class="example-full-width " appearance="outline"  >
            <mat-label>BIC</mat-label>
            <input  #input [(ngModel)]="rib.bic" formControlName="bic" matInput
                   name="bic">
          </mat-form-field>
        </div>
      </div>
      <div class="col-6 " fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="col-2" fxLayoutAlign="flex-start center">
          <h4>Nom de la banque</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="col-10">
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Libelle</mat-label>
            <input  #input [(ngModel)]="rib.libelle" formControlName="libelle" matInput
                   name="libelle">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start" >
      <div class="col-1" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayoutAlign="flex-start center">
          <h4>Banque</h4>
        </div>
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Banque</mat-label>
          <input #input [(ngModel)]="rib.banque"  matInput name="banque" formControlName="banque">
        </mat-form-field>
      </div>
      <div class="col-2" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayoutAlign="flex-start center">
          <h4>Guichet</h4>
        </div>
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Guichet</mat-label>
          <input #input [(ngModel)]="rib.guichet"  matInput name="guichet" formControlName="guichet">
        </mat-form-field>
      </div>
      <div class="col-3" fxLayout="column" fxLayoutAlign="space-between">
        <div  fxLayoutAlign="flex-start center">
          <h4>N° de compte</h4>
        </div>
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>N° de compte</mat-label>
          <input #input [(ngModel)]="rib.numeroDeCompte"  matInput name="numeroDeCompte" formControlName="numeroDeCompte">
        </mat-form-field>
      </div>
      <div class="col-3" fxLayout="column" fxLayoutAlign="space-between">
        <div  fxLayoutAlign="flex-start center">
          <h4>Clé</h4>
        </div>
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Clé</mat-label>
          <input #input [(ngModel)]="rib.cle"  matInput name="cle" formControlName="cle">
        </mat-form-field>
      </div>
    </div>
    <div class="col-6" fxLayout="column">
      <div fxLayoutAlign="flex-start">
        <h4> Adresse établissement</h4>
      </div>
      <div fxLayoutAlign="flex-start">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>N°</mat-label>
          <input  #input [(ngModel)]="rib.block" formControlName="block" matInput name="block2">
        </mat-form-field>
      </div>

      <div class="label" fxLayoutAlign="flex-start">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Rue</mat-label>
          <input  #input [(ngModel)]="rib.rue" formControlName="rue" matInput
                 name="rue2">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <div class=" col-6 label" fxLayoutAlign="flex-start">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Ville</mat-label>
            <input  #input [(ngModel)]="rib.ville" formControlName="ville" matInput
                   name="ville2">
          </mat-form-field>
        </div>
        <div class="col-6 label">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Code postal</mat-label>
            <input  #input [(ngModel)]="rib.codePostal" formControlName="codePostal" matInput
                   name="codePostal2">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>

        <p-button icon="pi pi-times" (click)="displayRibEditModal=false"  label="Annuler" class="p-button-danger"></p-button>
        <p-button matTooltip="Vérifiez votre saisie"  [matTooltipDisabled]="!ribForm.invalid" icon="pi pi-check"  type="submit" label="Enregister" class="p-button-text p-button-success"></p-button>

    </div>
  </form>

</p-dialog>

<p-dialog header="Modification emplacement" [(visible)]="displayEmplacementEditModal" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form *ngIf="emplacementForm" (ngSubmit)="onSubmitEmplacement()" [formGroup]="emplacementForm">
    <div class="col-12 ">
      <mat-button-toggle-group ngDefaultControl  name="fontStyle" aria-label="Font Style"
                               formControlName="type">
        <mat-button-toggle [value]="2">Libre</mat-button-toggle>
        <mat-button-toggle [value]="1">Locatif</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" >

      <div *ngIf="emplacementSwtich" class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="col-8" fxLayout="row" fxLayoutAlign="flex-start">
          <div fxLayoutAlign="flex-start center">
            <h4>Nombre total emplacements</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Emplacements</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.nombreTotal" matInput name="nombreTotalEmp"
                   formControlName="nombreTotalEmp">
          </mat-form-field>
        </div>
      </div>
      <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div *ngIf="emplacementSwtich" fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Type locatifs</h4>
          </div>
          <p-dropdown [options]="natures" optionValue="code" formControlName="nature"
                      [(ngModel)]="emplacementSelectEdit.nature" optionLabel="name"></p-dropdown>

        </div>
        <div fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Code</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Code</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.code" matInput name="code" formControlName="code">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Désignation</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Désignation</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.nom" matInput name="designation"
                   formControlName="designation">
          </mat-form-field>
        </div>

        <div *ngIf="emplacementSwtich" fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Nbre chambre</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Chambre</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.nombreChambre" matInput name="nombreChambre"
                   formControlName="nombreChambre">
          </mat-form-field>
        </div>
        <div *ngIf="emplacementSwtich" fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Nbre S.D.B</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>SDB</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.nombreSDB" matInput name="nombreSDB"
                   formControlName="nombreSDB">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Capacité</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Capacité</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.capacite" matInput name="capacite"
                   formControlName="capacite">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayoutAlign="flex-start center">
            <h4>Superf. Moy.</h4>
          </div>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Superficie</mat-label>
            <input #input [(ngModel)]="emplacementSelectEdit.superficieMoyenne" matInput name="superficieMoyenne"
                   formControlName="superficieMoyenne">
          </mat-form-field>
        </div>
      </div>
    </div>

  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayEmplacementEditModal=false"  label="Annuler" class="p-button-danger"></p-button>
    <p-button matTooltip="Vérifiez votre saisie" [matTooltipDisabled]="!emplacementForm.invalid" icon="pi pi-check" (click)="onSubmitEmplacement()" type="submit" label="Enregistrer" class="p-button-text p-button-success"></p-button>
  </ng-template>
</p-dialog>
