.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  background-color: white;
}

.example-emtpy-box {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

:host {
  ::ng-deep .p-card .p-card-body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
  }
}

.profilPanel {
  background-color: white;
  /* padding: 16px; */
  margin: 2px;
  border-radius: 8px;
  padding: 20px;
}

.example-small-box img {
  width: inherit;
  height: inherit;
}

.label {
  font-weight: bold;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.col-img {
  width: 10%
}

.col-input {
  width: 90%
}

.box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 1%;
}
.camping-expansion{
  margin-top: 2%;
}
mat-expansion-panel{
  margin-bottom: 1%;
}

h3{
  font-family: Gilroy-Heavy;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #B3903B;
}

mat-panel-title{
  font-family: 'Gilroy-Medium';
  font-size: 12px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
}
.loading{
  z-index: 999;
}
.error-class{
  border:1px solid #f44336 !important
}
.card-body-center{
  text-align: center;
}
:host {
  ::ng-deep .p-component-overlay {
    z-index: 1 !important;
  }
}
