<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div fxLayout="row" fxLayoutAlign="center center" class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! une erreur est survenue, nous allons rapidement apporter une solution, Merci.</h4>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="../../../assets/img/avatars/embarrasse.svg" alt="Image" width="250"/>
          <br/>
          <button (click)="goToHome()" pButton type="button" label="Accueil" class=" p-button-danger p-button-outlined"></button>
        </div>
      </div>
    </div>
  </div>
</div>
