<h1 mat-dialog-title>Ajouter un nouvel utilisateur</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="user.nom" #input
                 placeholder="Ex. FHPA" formControlName="nom" name="nom">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="user.prenom" #input
                 placeholder="Ex. Facilit" formControlName="prenom" name="prenom">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email" #input
                 placeholder="Ex. FHPA" formControlName="email" name="email">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Login</mat-label>
          <input matInput [(ngModel)]="user.username" #input
                 placeholder="Ex. Facilit" formControlName="username" name="username">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Rôle</mat-label>
          <mat-select ngDefaultControl [(ngModel)]="user.currentRoleId" name="role" formControlName="role">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let role of roleList" [value]="role.id">{{role.roleName}}
            </mat-option>
          </mat-select>
          <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->

        </mat-form-field>
      </div>
    </div>


  </div>

  <div mat-dialog-actions class="float-right">
    <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
    <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

  </div>
</form>
