<p-toast position="bottom-right"></p-toast>
<app-loader-pop-up *ngIf="isChartsReady" [showLoader]="isChartsReady"></app-loader-pop-up>
<div class="row " *ngIf="!isChartsReady">
  <div class=" col-lg-4">
    <mat-card>
      <mat-card-subtitle>Année 2021 vs 2020</mat-card-subtitle>

        <alert type="success">
          <h4 class="alert-heading"><b>Chiffre d'affaire actuel</b></h4>
          <h1 style="text-align:center">1527 €</h1>
        </alert>
    </mat-card>
  </div>
  <div class=" col-lg-4">
    <mat-card>
      <mat-card-subtitle>Année 2021 vs 2020</mat-card-subtitle>
        <alert type="warning">
          <h4 class="alert-heading"><b>Nombre réservation mois courant</b></h4>
          <h1 style="text-align:center">27</h1>
        </alert>


    </mat-card>
  </div>
  <div class=" col-lg-4">
    <mat-card>
      <mat-card-subtitle>Année 2021 vs 2020</mat-card-subtitle>

      <alert type="warning">
        <h4 class="alert-heading"><b>Date dernière MAJ</b></h4>
        <h1 style="text-align:center">12/12/2021</h1>
      </alert>
    </mat-card>
  </div>
</div>
<div class="row mt-3" *ngIf="!isChartsReady">
  <div class=" col-lg-12">
    <app-chart-line-card [height]="'300px'" [bgclass]="'back-orange'" [lineChart]="lineChartCA"></app-chart-line-card>

    <mat-card fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-between"><div><h4>2021 vs 2020 </h4></div> <div><span [ngClass]="{'green-increase':true}" class="material-icons">trending_up</span></div></div>
      <div fxLayout="row" fxLayoutAlign="space-between"><div><h4>2021 vs 2019 </h4></div> <div><span [ngClass]="{'yellow-increase':true}" class="material-icons">trending_flat</span></div></div>
      <div fxLayout="row" fxLayoutAlign="space-between"><div><h4>2021 vs 2018 </h4></div> <div><span [ngClass]="{'red-increase':true}" class="material-icons">trending_down</span></div></div>

    </mat-card>

  </div>
</div>
<div class="row mt-3" *ngIf="!isChartsReady">
  <div class="col-sm-6 col-lg-12">
    <app-chart-line-card [height]="'300px'" [bgclass]="'bg-danger'" [lineChart]="lineChartNbBooking"></app-chart-line-card>
  </div>
</div>

<div class="card-columns cols-2 mb-4" *ngIf="!isChartsReady">
  <div class="card">
    <div class="card-header">
      Prix moyen d'un nuitée
      <div class="card-header-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper" style="height:250px;">
        <canvas baseChart class="chart"
                [datasets]="barChart2Data"
                [labels]="barChart2Labels"
                [options]="barChart2Options"
                [colors]="barChart2Colours"
                [legend]="barChart2Legend"
                [chartType]="barChart2Type"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Suivi affectations
      <div class="card-header-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>
</div>
