table {
  width: 100%;
  min-width: max-content;
}
.responsive-table{
  overflow-x:auto;
}
th.mat-sort-header-sorted {
  color: black;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.entreprise-row:hover {
  background: whitesmoke;
}

tr.entreprise-row:active {
  background: #efefef;
}

.entreprise-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.labelEntreprise {
  font-size: 1.5em;

}

:host {
  ::ng-deep .labelEntreprise .p-card-body {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 0;
  }
}

:host {
  ::ng-deep .p-card .p-card-body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
  }
}

.entreprise-type-container {
  width: 70%;
}

.entreprise-type-block {
  border-bottom: 1px solid #c8ced3;
  width: 100%;
}

.mr-t-2 {
  margin-top: 2%;
}
.card-body-center{
  text-align: center;
}
