<p-toast position="bottom-right"></p-toast>
<app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<div  class="animated fadeIn">

  <br/>
  <div class="card-group mb-4">
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="cil-building"></i>
        </div>
        <div class="h4 mb-0">{{entrepriseList?.length}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Entreprises</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">30</div>
        <small class="text-muted text-uppercase font-weight-bold">Consultants</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="cil-sitemap"></i>
        </div>
        <div class="h4 mb-0">1238</div>
        <small class="text-muted text-uppercase font-weight-bold">Partenaires</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card mr-2">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">28%</div>
        <small class="text-muted text-uppercase font-weight-bold">Statistiques</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group *ngIf="!showLoader">
    <mat-tab label="Liste des entreprises">
      <div class="card">
        <div class="card-body card-body-center" *ngIf=" entrepriseList?.length==0">
          <div class="row">
            <div class="col-sm-5">
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="openAddDialog(false)" class="btn btn-success add-btn float-right"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <img src="assets/img/avatars/corbeille.png" alt="no data found">
          <h3>Aucune donnée trouvée</h3>
        </div>
        <div class="card-body" *ngIf=" entrepriseList?.length >0">
          <div class="row">
            <div class="col-sm-5">
              <!--<h4 class="card-title mb-0"> <i class="cil-building"></i> Liste des entreprises</h4>-->
              <!--<div class="small text-muted">Juin 2021</div>-->
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <button type="button" (click)="openAddDialog(false)" class="btn btn-success add-btn float-right"><i
                class="cil-plus"></i> Ajouter
              </button>
            </div>
          </div>
          <div class="responsive-table">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input name="keyup">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
                <td mat-cell *matCellDef="let element"> {{element.code}}</td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
                <td mat-cell *matCellDef="let element"> {{element.type}}</td>
              </ng-container>

              <ng-container matColumnDef="emailContact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.emailContact}}</td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="nomCommercial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom commercial</th>
                <td mat-cell *matCellDef="let element"> {{element.nomCommercial}}</td>
              </ng-container>

              <ng-container matColumnDef="entrepriseType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.entrepriseType}}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="siret">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Siret</th>
                <td mat-cell *matCellDef="let element"> {{element.siret}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}}</td>
              </ng-container>

              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                  <div class="button-row">
                    <div>
                      <button type="button" class="btn btn-sm  btn-primary" (click)="openModifyDialog(element)"><i
                        class="cil-pencil"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-sm  btn-danger"
                              (click)="beSureToDelete(element.entrepriseId)"><i class="cil-x"></i></button>
                    </div>

                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row (dblclick)="displayEntreprise(element)" *matRowDef="let element; columns: displayedColumns;"
                  class="entreprise-row"></tr>
            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Liste des consultants"> Content 2</mat-tab>
    <mat-tab label="Liste des partenaires"> Content 3</mat-tab>
  </mat-tab-group>


</div>


<p-dialog (onHide)="hideTypeSelectionDialog()" [(visible)]="displayEntrepriseTypeSelection" [baseZIndex]="1"
          [style]="{width: '65vw'}" header="Votre choix d'entreprise">
  <div class="entreprise-content">
    <!-- tourisme Column -->
    <div class="entreprise-type-block" fxLayout="row" fxLayoutAlign="space-around center " fxLayoutGap="25px">
      <p-card [style]="{'width': '20px'}" class="labelEntreprise">
        Entreprise stantard
      </p-card>
      <div class="entreprise-type-container" fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="5px">
        <p-card (click)="createCamping()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/tent.png">
          <ng-template pTemplate="footer">
            Camping
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/office-building.png">
          <ng-template pTemplate="footer">
            Parc résidence de loisirs
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/teamwork.png">
          <ng-template pTemplate="footer">
            Résidence de tourisme
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/contruction.png">
          <ng-template pTemplate="footer">
            Village vacances
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" (click)="createEntreprise()"[style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/tent.png">
          <ng-template pTemplate="footer">
            Entreprise stantard
          </ng-template>
        </p-card>
      </div>
    </div>
    <!-- other Column -->
    <div class="entreprise-type-block mr-t-2" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="25px">
      <p-card [style]="{'width': '20px'}" class="labelEntreprise">
        Autres
      </p-card>
      <div class="entreprise-type-container" fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="5px">
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/tent.png">
          <ng-template pTemplate="footer">
            Société de services
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/office-building.png">
          <ng-template pTemplate="footer">
            Société d'équiments
          </ng-template>
        </p-card>
        <p-card (click)="notAvailable()" [style]="{'width': '215px', 'margin-bottom': '2em'}">
          <img alt="Card" src="assets/img/avatars/teamwork.png">
          <ng-template pTemplate="footer">
            Autres entreprises
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>

  <!--  <p-table [value]="entrepriseList" responsiveLayout="scroll">-->
  <!--    <ng-template pTemplate="body" let-product>-->
  <!--      <tr>-->
  <!--        <td> <p-card (click)="createCamping()" [style]="{'width': '215px', 'margin-bottom': '2em'}">-->
  <!--          <img alt="Card" src="assets/img/avatars/tent.png">-->
  <!--          <ng-template pTemplate="footer">-->
  <!--            Camping-->
  <!--          </ng-template>-->
  <!--        </p-card></td>-->
  <!--      </tr>-->
  <!--    </ng-template>-->
  <!--  </p-table>-->
</p-dialog>
