<h1 mat-dialog-title>Ajouter une nouvelle entreprise</h1>
<form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill" class="full-space-available">
          <mat-label>Code</mat-label>
          <input matInput (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.code" #input maxlength="10"
                 placeholder="Ex. FHPA" formControlName="code" name="code">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Nom commercial</mat-label>
          <input (ngModelChange)="onChangeEntreprise()" matInput [(ngModel)]="entreprise.nomCommercial" #input
                 maxlength="45" placeholder="Ex. Facilit" formControlName="nomCommercial" name="nomCommercial">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Email</mat-label>
          <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.emailContact" matInput #input
                 maxlength="25" placeholder="Ex. ent@example.com" formControlName="emailContact" name="emailContact"
                 required>
          <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Siret</mat-label>
          <input (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.siret" matInput #input maxlength="10"
                 placeholder="Ex. Nougat" formControlName="siret" name="siret">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Telephone</mat-label>
          <input matInput (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.telephone" #input
                 maxlength="10" placeholder="Ex. Nougat" formControlName="telephone" name="telephone">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>Statut</mat-label>
          <mat-select (ngModelChange)="onChangeEntreprise()" [(ngModel)]="entreprise.type" formControlName="type"
                      name="type">
            <mat-option value="SARL">SARL</mat-option>
            <mat-option value="SA">SA</mat-option>
            <mat-option value="SAS">SAS</mat-option>
          </mat-select>
          <mat-hint align="end">Statut juridique</mat-hint>
        </mat-form-field>

      </div>
    </div>

  </div>

  <div mat-dialog-actions class="float-right">
    <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
    <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

  </div>
</form>
