<div class="p-col-12 p-md-4 respo-banner" *ngIf="task">
  <div class="task-id">
  <div>
    <p-avatar *ngIf="task && task.typeTache==2"
      icon="pi pi-list"
      styleClass="p-mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <p-avatar *ngIf="task && task.typeTache==1"
      image="../../assets/img/avatars/compteur-eau.png"
      styleClass="p-mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </div>
  <h1>{{task.designation}}</h1>
  </div>
  <div class="respo-id">
  <div>
    <p-avatar
      icon="pi pi-user"
      styleClass="p-mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <h5>Responsable</h5>
  </div>
  <h1>GUETIN Arnaud</h1>
  </div>
</div>
<div class="p-col-12  mt-2" *ngIf="task && task.typeTache==2">
<button type="button" (click)="updateSteps()"  class="btn btn-success add-btn float-right"> Sauvegarder
</button>
</div>
<br />
<br />
<div class="p-col-12  mt-2" *ngIf="task && task.typeTache==2">
  <p-fieldset [legend]="etape.designation" [toggleable]="true" *ngFor="let etape of etapeList">
    <div class="step-line">
      <p>{{etape.description}}</p>
      <p-checkbox [binary]="true" [readonly]="true" name="statut" [value]="etape.checked" [(ngModel)]="etape.checked"></p-checkbox>
    </div>
    <button type="button" (click)="etape.checked=!etape.checked"  class="btn btn-success add-btn float-right mt-2 mb-2"> Validez
    </button>
  </p-fieldset>
</div>

<div class="p-col-12  mt-2" *ngIf="task && task.typeTache==1">
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedReleves()" [disabled]="!selectedReleves || !selectedReleves.length"></button>
    </ng-template>

<!--    <ng-template pTemplate="right">-->
<!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>-->
<!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
<!--    </ng-template>-->
  </p-toolbar>

  <p-table #dt *ngIf="relevesList" [value]="relevesList" [rows]="10" [paginator]="true" [globalFilterFields]="['ordre','dateReleve','indexValue','acteurName']" responsiveLayout="scroll"
           [(selection)]="selectedReleves" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Releves</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="ordre">Ordre <p-sortIcon field="ordre"></p-sortIcon></th>
        <th pSortableColumn="dateReleve">Date releve <p-sortIcon field="dateReleve"></p-sortIcon></th>
        <th pSortableColumn="indexValue">index <p-sortIcon field="indexValue"></p-sortIcon></th>
        <th pSortableColumn="acteur">Acteur <p-sortIcon field="acteur"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-releve>
      <tr>
        <td>
          <p-tableCheckbox [value]="releve"></p-tableCheckbox>
        </td>
        <td>{{releve.ordre}}</td>
        <td>{{releve.dateReleve | date:'dd-MM-yyyy'}}</td>
        <td>{{releve.indexValue}}</td>
        <td>{{releve.acteurName}}</td>
        <!--<td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
        <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>-->
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(releve)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteReleve(releve)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{relevesList ? relevesList.length : 0 }} releves.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="releveDialog" [style]="{width: '650px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Ordre</label>
      <input type="text" pInputText id="name" [(ngModel)]="releve.ordre" required autofocus />
      <small class="p-error" *ngIf="submitted && !releve.ordre">Ordre is required.</small>
    </div>
    <div class="p-field">
      <label for="dateReleve">Date Releve</label>
      <p-calendar appendTo="body"  inputId="dateReleve" id="dateReleve" [(ngModel)]="releve.dateReleve" required [showIcon]="true" rows="3" cols="20"></p-calendar>
    </div>
    <div class="p-field">
      <label for="acteur">Acteur</label>
      <p-dropdown [(ngModel)]="releve.acteurId" optionLabel="nom" optionValue="collaborateurId" inputId="acteur" [options]="collaborateurList" placeholder="Select">
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{option.nom +" "+ option.prenom}}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="indexValue">Index value</label>
      <input type="text" pInputText id="indexValue" [(ngModel)]="releve.indexValue" required autofocus />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveReleve()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
