
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  background-color: white;
}

.example-emtpy-box {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.profilPanel {
  background-color: white;
  /* padding: 16px; */
  margin: 2px;
  border-radius: 8px;
  padding: 20px;
}
.respo-banner{
  background-color: white;
  display: flex;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
  h1{
    margin-bottom:0;
    margin-left: 10px;
  }
  h5{
    margin-bottom:0;
  }
}
:host {
  ::ng-deep.p-fieldset-legend > a, .p-fieldset-legend > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.step-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-id{
  background-color: white;
  display: flex;
  align-items: baseline;
  align-content: center;
}

.respo-id{
  background-color: white;
  display: flex;
  align-items: baseline;
  align-content: center;
}
