<!--<div cdkDropListGroup>-->
<!--  <div class="example-container">-->
<!--    <h2>A faire</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="todo"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" (click)="viewTask(item)" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>Terminé</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="done"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" (click)="viewTask(item)" *ngFor="let item of done" cdkDrag>{{item}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="example-container">-->
<!--    <h2>Validé</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="done"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="card" >
  <h5>Statut de progression des tâches</h5>
  <p-progressBar [value]="value"></p-progressBar>
</div>
  <div class="card">
  <h5>Vue des 6 derniers mois</h5>
  <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
</div>


<div class="card">
<!--  <p-toolbar styleClass="p-mb-4">-->
<!--    <ng-template pTemplate="left">-->
<!--      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"></button>-->
<!--      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedReleves()" [disabled]="!selectedTasks || !selectedTasks.length"></button>-->
<!--    </ng-template>-->

<!--    &lt;!&ndash;<ng-template pTemplate="right">-->
<!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>-->
<!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
<!--    </ng-template>&ndash;&gt;-->
<!--  </p-toolbar>-->

  <p-table #dt *ngIf="taskList" [value]="taskList" [rows]="10" [paginator]="true" [globalFilterFields]="['designation']" responsiveLayout="scroll"
           [(selection)]="selectedTasks" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage tasks</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="designation">Designation <p-sortIcon field="designation"></p-sortIcon></th>
        <th pSortableColumn="dateDebut">Date début <p-sortIcon field="dateDebut"></p-sortIcon></th>
        <th pSortableColumn="dateFin">Date fin <p-sortIcon field="dateFin"></p-sortIcon></th>
        <th >Commentaire </th>
        <th >Instruction</th>
        <th >Statut</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{task.designation}}</td>
        <td>{{task.dateDebut | date:'dd-MM-yyyy'}}</td>
        <td>{{task.dateFin | date:'dd-MM-yyyy'}}</td>
        <td>{{task.commentaire}}</td>
        <td>{{task.instruction}}</td>


        <td><p-badge value="En Cours"  [severity]="task.statut==0?'info':'success'" ></p-badge></td>
        <td>
          <button pButton pRipple icon="pi pi-external-link" class="p-button-rounded p-button-success p-mr-2" (click)="viewTask(task)" ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{taskList ? taskList.length : 0 }} releves.
      </div>
    </ng-template>
  </p-table>
</div>
