<h1 mat-dialog-title>Ajouter un nouveau service</h1>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Code</mat-label>
          <input matInput (ngModelChange)="onChangeService()" [(ngModel)]="service.code" #input
                 placeholder="Ex. FHPA" formControlName="code" name="code">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Désignation</mat-label>
          <input (ngModelChange)="onChangeService()" matInput [(ngModel)]="service.designation" #input m
                 placeholder="Ex. Facilit" formControlName="designation" name="designation">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Responsable</mat-label>
          <mat-select ngDefaultControl (ngModelChange)="onChangeService()" [(ngModel)]="service.responsableId" name="responsable"
                      formControlName="responsable">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let respo of responsableList" [value]="respo.collaborateurId">{{respo.nom}}
              {{respo.prenom}}
            </mat-option>
          </mat-select>
          <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->

        </mat-form-field>
      </div>
    </div>


  </div>

  <div mat-dialog-actions class="float-right">
    <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
    <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

  </div>
</form>
