<h1 mat-dialog-title>Supprimer {{object}}</h1>
<div mat-dialog-content>
  <p>{{message}}</p>
</div>
<div mat-dialog-actions class="float-right">
  <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
  <button  class="btn btn-success" (click)="confirmDelete()" cdkFocusInitial>Oui</button>

</div>
