<p-panel class="mt-2" *ngIf="task && task.typeTache==1" header="Compteur"  [toggleable]="true" [style]="{'margin-top':'2%'}">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu2.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu2 id="config_menu" [model]="itemsCompteur" [popup]="true"></p-menu>
  </ng-template>
  <div class="mt-2 col-12" *ngFor="let compteur of taskCompteurList">
    <mat-accordion>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{compteur.designation}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form *ngIf="compteurForm" (ngSubmit)="onSubmit()" [formGroup]="compteurForm">
          <div class="profilPanel mb-4">
            <div class="row compteur-box">
              <div class="example-small-box col-1">
                <img src="assets/img/avatars/compteur-electrique.png">
              </div>
              <div class="col-10">

                <div class="row">
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Numéro</mat-label>
                      <input #input [(ngModel)]="task.compteurMV.numero" formControlName="numero" matInput
                             name="numero">
                    </mat-form-field>
                  </div>
                  <div class="col-4 label">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Valeur index</mat-label>
                      <input #input [(ngModel)]="task.compteurMV.valeur" formControlName="valeur" matInput
                             name="valeur">
                    </mat-form-field>
                  </div>
                  <div class="col-4 label">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Fournisseur</mat-label>
                      <mat-select [(ngModel)]="task.compteurMV.fournisseur" [disabled]="true"
                                  formControlName="fournisseur" name="fournisseur">
                        <mat-option value="None">None</mat-option>
                        <mat-option value="EDF">EDF</mat-option>
                        <mat-option value="ENGIE">ENGIE</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-6 " >
            <p-table [value]="relevesList" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Heure</th>
                  <th>Releve</th>
                  <th>Différence</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-releve let-rowIndex="rowIndex">
                <tr>
                  <td>{{releve.dateReleve | date:'dd-MM-yyyy'}}</td>
                  <td>{{releve.dateReleve | date:'hh:mm'}}</td>
                  <td>{{releve.indexValue}}</td>
                  <td
                    *ngIf="rowIndex>0">{{(relevesList[rowIndex].indexValue) - (relevesList[rowIndex - 1].indexValue)}}</td>
                  <td
                    *ngIf="rowIndex==0">{{(relevesList[rowIndex].indexValue) - (relevesList[rowIndex].indexValue)}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-6 ">
            <div fxLayout="column" fxLayoutAlign="flex-start" >
              <div fxLayout="row"  fxLayoutAlign="space-between" class="col-12 ">
                <div fxLayoutAlign="flex-start" class="col-3">
                  <h4>Total Annuel</h4>
                </div>
                <div  class="col-4">
                  <mat-form-field  appearance="outline">
                    <mat-label>Année N</mat-label>
                    <input [value]="277444"   matInput
                           placeholder="01/01/2020" name="dateDebut" formControlName="dateDebut">
                  </mat-form-field>
                </div>
                <div  class="col-4">
                  <mat-form-field appearance="outline" >
                    <mat-label>Année N-1</mat-label>
                    <input readonly  #input [value]="66777 " [ngModelOptions]="{standalone: true}" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between" class="col-12 ">
                <div fxLayoutAlign="flex-start" class="col-3">
                  <h4>Total du mois courant</h4>
                </div>
                <div fxLayoutAlign="flex-start" class="col-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Année N</mat-label>
                    <input [value]="66777"  matInput
                           placeholder="01/01/2020" name="dateDebut" formControlName="dateDebut">
                  </mat-form-field>
                </div>
                <div fxLayoutAlign="flex-start" class="col-4">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Année N-1</mat-label>
                    <input readonly  #input [value]="66777" [ngModelOptions]="{standalone: true}" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <alert type="success" [style]="{'width':'100%'}" >
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <h3>Alarme Conso/nuités</h3>
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                      <img src="assets/img/avatars/smiling-face.png" />
                    </div>
                    <div>
                      <img src="assets/img/avatars/rolling-eyes.png" />
                    </div>
                    <div>
                      <img src="assets/img/avatars/frown.png" />
                    </div>
                  </div>
                </div>
              </alert>
            </div>
            <div>
              <p-table [value]="annuelData" responsiveLayout="scroll" styleClass="p-datatable-striped">
                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th>N</th>
                    <th>N-1</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data >
                  <tr>
                    <td>{{data.month }}</td>
                    <td>{{data.nyearValue }}</td>
                    <td>{{data.n_1yearValue}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>

        <div class="card">
          <h5>Vue des 2  dernières années</h5>
          <p-chart type="bar" [data]="stackedData" ></p-chart>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</p-panel>
