table {
  width: 100%;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.entreprise-row:hover {
  background: whitesmoke;
}

tr.entreprise-row:active {
  background: #efefef;
}

