<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Utilisateur
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="profilPanel mb-4">
            <div class="row">
              <div class="example-small-box col-1">
                <img src="assets/img/avatars/to-do-list.png">
              </div>
              <div class="col-10">

                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nom</mat-label>
                      <input matInput  [(ngModel)]="user.nom" name="nom" formControlName="nom" ngDefaultControl>
                    </mat-form-field>
                  </div>
                  <div class="col-4 label">
                    <mat-form-field class="example-full-width">
                      <mat-label>Prénom</mat-label>
                      <input ngDefaultControl matInput  [(ngModel)]="user.prenom" name="prenom"
                             formControlName="prenom">
                    </mat-form-field>
                  </div>
                  <div class="col-4 label">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input ngDefaultControl matInput  [(ngModel)]="user.email" name="email"
                             formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-11 label">
                    <mat-form-field appearance="fill" class="full-space-available" style=" width: 100%;">
                      <mat-label>Rôle</mat-label>
                      <mat-select ngDefaultControl [(ngModel)]="roles" name="role" [formControl]="roleControl" multiple>
                        <mat-select-trigger>
                          <mat-chip-list>
                            <mat-chip *ngFor="let r of roleControl.value"
                                      [removable]="true" (removed)="onRoleRemoved(r)">
                              {{ r?.roleName }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let role of roleList" [value]="role">{{role?.roleName}}
                        </mat-option>
                      </mat-select>
                      <!--<mat-error *ngIf="email.invalid">Not a valid email</mat-error>-->

                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <button type="button" type="submit" class="btn btn-success add-btn float-right">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Droits et autorisations">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <!--<h4 class="card-title mb-0"> <i class="cil-building"></i> Liste des entreprises</h4>-->
            <!--<div class="small text-muted">Juin 2021</div>-->
          </div><!--/.col-->
          <div class="col-sm-7 d-none d-md-block">
            <button type="button" (click)="affectEntrepriseToUserDialog()" class="btn btn-success add-btn float-right">
              <i
                class="cil-plus"></i> Ajouter
            </button>
          </div>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input  matInput (keyup)="applyFilter($event)" placeholder="Ex. ium"  name="keyup">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
              <td mat-cell *matCellDef="let element"> {{element.code}}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
              <td mat-cell *matCellDef="let element"> {{element.type}}</td>
            </ng-container>

            <ng-container matColumnDef="emailContact">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.emailContact}}</td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="nomCommercial">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom commercial</th>
              <td mat-cell *matCellDef="let element"> {{element.nomCommercial}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="siret">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Siret</th>
              <td mat-cell *matCellDef="let element"> {{element.siret}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
              <td mat-cell *matCellDef="let element"> {{element.telephone}}</td>
            </ng-container>

            <ng-container matColumnDef="star">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell *matCellDef="let element">
                <div class="button-row">
                  <div>
                    <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-sm  btn-danger"
                            (click)="beSureToDelete(element.entrepriseId)"><i class="cil-x"></i></button>
                  </div>

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (dblclick)="displayEntreprise(element)" *matRowDef="let element; columns: displayedColumns;"
                class="entreprise-row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="hasManagerRole" label="Liste des entreprises">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <!--<h4 class="card-title mb-0"> <i class="cil-building"></i> Liste des entreprises</h4>-->
            <!--<div class="small text-muted">Juin 2021</div>-->
          </div><!--/.col-->
          <div class="col-sm-7 d-none d-md-block">
            <button type="button" (click)="affectEntrepriseToUserDialog()" class="btn btn-success add-btn float-right">
              <i
              class="cil-plus"></i> Ajouter
            </button>
          </div>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input ngDefaultControl matInput (keyup)="applyFilter($event)" placeholder="Ex. ium"  name="keyup">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
              <td mat-cell *matCellDef="let element"> {{element.code}}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
              <td mat-cell *matCellDef="let element"> {{element.type}}</td>
            </ng-container>

            <ng-container matColumnDef="emailContact">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.emailContact}}</td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="nomCommercial">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom commercial</th>
              <td mat-cell *matCellDef="let element"> {{element.nomCommercial}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="siret">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Siret</th>
              <td mat-cell *matCellDef="let element"> {{element.siret}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
              <td mat-cell *matCellDef="let element"> {{element.telephone}}</td>
            </ng-container>

            <ng-container matColumnDef="star">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell *matCellDef="let element">
                <div class="button-row">
                  <div>
                    <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-sm  btn-danger"
                            (click)="beSureToDelete(element.entrepriseId)"><i class="cil-x"></i></button>
                  </div>

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (dblclick)="displayEntreprise(element)" *matRowDef="let element; columns: displayedColumns;"
                class="entreprise-row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
