.content img{
  height: 25vh !important;
}
.form-box{
  width: 50% !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.confirm .mat-form-field-flex {
  background-color: white !important;
}
