<p-toast position="bottom-right"></p-toast>
<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <img src="assets/img/brand/logo.png" alt="Facilit Dev"/>
</div>
<div  fxLayout="row" fxLayoutAlign="center center">
  <form class="form-box" (ngSubmit)="validatePassword()" [formGroup]="changePasswordGroup">
    <div fxLayout="row" fxLayoutAlign="flex-start">
      <div>
        <img src="assets/img/avatars/password.png" alt="Facilit Dev"/>
      </div>
      <div>
        <h1>Mot de passe</h1>
        <p class="text-muted">Saisissez votre mot de passe</p>
      </div>
    </div>

    <!--    <div class="input-group mb-3">-->
    <!--      <div class="input-group-prepend">-->
    <!--        <span class="input-group-text"><i class="icon-lock"></i></span>-->
    <!--      </div>-->
    <!--      <input type="password" class="form-control" name="password" [(ngModel)]="password"-->
    <!--             placeholder="password" autocomplete="password" required>-->
    <!--    </div>-->
    <mat-form-field appearance="fill" class="confirm">
      <mat-label>Enter your password</mat-label>
      <input [(ngModel)]="password" [type]="hide ? 'password' : 'text'" formControlName="password" matInput
             name="password">
      <mat-error *ngIf="changePasswordGroup.hasError('required', 'password')">
        Please enter your new password
      </mat-error>
      <button type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
              matSuffix>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="confirm">
      <mat-label>Confirm your password</mat-label>
      <input [(ngModel)]="confirmPassword" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'"
             formControlName="confirmPassword" matInput name="confirmPassword">
      <mat-error *ngIf="changePasswordGroup.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <!--    <div class="input-group mb-4">-->
    <!--      <div class="input-group-prepend">-->
    <!--        <span class="input-group-text"><i class="icon-lock"></i></span>-->
    <!--      </div>-->
    <!--      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword"-->
    <!--             placeholder="confirmPassword" autocomplete="confirmPassword" required>-->
    <!--    </div>-->
    <button class="btn btn-success"  type="submit">Valider</button>
    <!--    <div class="row">-->
    <!--      <div class="col-12">-->
    <!--        <button type="button" (click)="onLogin()" class="btn btn-primary px-8">Login</button>-->
    <!--      </div>-->
    <!--    </div>-->
  </form>
</div>

