.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  background-color: white;
}

.example-emtpy-box {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.compteur-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

:host {
  ::ng-deep .p-card .p-card-body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
  }
}
:host {
  ::ng-deep .p-button.p-button-raised {
    margin:1%;
  }
}
.profilPanel {
  background-color: white;
  /* padding: 16px; */
  margin: 2px;
  border-radius: 8px;
  //padding: 20px;
}

.compteur-view-montant {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.example-small-box img {
  width: inherit;
  height: inherit;
}

.label {
  font-weight: bold;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.add-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-right: 2%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr.collaborateur-row:hover {
  background: whitesmoke;
}

tr.collaborateur-row:active {
  background: #efefef;
}

:host ::ng-deep b {
  display: block
}

:host ::ng-deep .p-card-body {
  padding: 2rem;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #16697A;
  }
  40% {
    stroke: #489FB5;
  }
  66% {
    stroke: #82C0CC;
  }
  80%,
  90% {
    stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }
}

@media screen and (max-width: 960px) {
  ::ng-deep {
    .customized-timeline {
      .p-timeline-event:nth-child(even) {
        flex-direction: row !important;

        .p-timeline-event-content {
          text-align: left !important;
        }
      }

      .p-timeline-event-opposite {
        flex: 0;
      }

      .p-card {
        margin-top: 1rem;
      }
    }
  }
}

:host ::ng-deep .p-card .p-card-footer {
  text-align: center;

}

.periodicite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkList {
  padding: 2em;
}

.checkEdit-row {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.check-designation {
  color: #20a8d8;
  display: contents;
}

.content-center {
  display: flex;
}
.box{
  border: solid;
  border-color: #e9ecef;
}

.steps-button{
  display: flex;
  justify-content: flex-start;
}
.step-edit{
  border: solid;
  border-color: #e9ecef;
  margin-bottom: 1%;
}
.compteur-box{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15 px;
  margin-left: -15px;
  justify-content: space-between;
}
:host {
  ::ng-deep .p-component-overlay {
    z-index: 1 !important;
  }
}
