<app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<p-toast position="bottom-right"></p-toast>
<p-panel  header="Identification tâche"  [toggleable]="true" >
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu3.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu3 id="task_menu" [model]="itemstask" [popup]="true"></p-menu>
  </ng-template>
  <div class=" col-12">
    <form *ngIf="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="profilPanel mb-4">
        <div class="row">
          <div class="example-small-box col-1">
            <lord-icon
              class="seeHover"
              colors="primary:#121331,secondary:#08a88a"
              src="https://assets3.lottiefiles.com/packages/lf20_v4t3yi.json"
              style="width:250px;height:250px"
              trigger="loop">
            </lord-icon>
          </div>
          <div class="col-11">

            <div fxLayout="row" fxLayoutAlign="start" class="col-12">
              <div fxLayout="row" fxLayoutAlign="start" class="box col-6">
                <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                  <div fxLayoutAlign="flex-start">
                    <h4> Numéro:</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input readonly  #input [(ngModel)]="task.numero" matInput formControlName="numero" name="numero">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                  <div fxLayoutAlign="flex-start">
                    <h4> Désignation:</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input  #input [(ngModel)]="task.designation" matInput formControlName="designation" name="designation">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start" class="box col-6">
                <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                  <div fxLayoutAlign="flex-start">
                    <h4> Service:</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Service</mat-label>
                      <mat-select ngDefaultControl [(ngModel)]="task.serviceId"
                                   formControlName="serviceId" [attr.name]="'service'"  >
                        <mat-option value="-1">Aucun</mat-option>
                        <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">{{service.designation}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6 " fxLayout="column" fxLayoutAlign="start">
                  <div fxLayoutAlign="flex-start">
                    <h4> Responsable:</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Responsable</mat-label>
                      <mat-select ngDefaultControl [(ngModel)]="task.responsableId" [attr.name]="'responsable'" formControlName="responsable">
                        <mat-option value="-1">None</mat-option>
                        <mat-option *ngFor="let respo of responsableList" [value]="respo.collaborateurId">{{respo.nom}}
                          {{respo.prenom}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" class="col-12">
              <div fxLayout="column" class=" box col-8">
                <div fxLayout="row" fxLayoutAlign="flex-start center">
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <h4>Date Début</h4>
                  </div>
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Date début</mat-label>
                      <input [(ngModel)]="task.dateDebut" [ngxMatDatetimePicker]="pickerDeb"  matInput
                             placeholder="01/01/2020" name="dateDebut" formControlName="dateDebut">
                      <mat-datepicker-toggle matSuffix [for]="pickerDeb"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #pickerDeb
                                               [showSpinners]="showSpinners"
                                               [showSeconds]="showSeconds"
                                               [stepHour]="stepHour" [stepMinute]="stepMinute"
                                               [stepSecond]="stepSecond"
                                               [touchUi]="touchUi"
                                               [color]="color" [enableMeridian]="true">
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input readonly  #input [value]="task.dateDebut | date:'hh:mm' " [ngModelOptions]="{standalone: true}" matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="flex-start center" class="col-3">
                    <p-checkbox name="groupname" value="true"></p-checkbox>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="flex-start center">
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <h4>Date Fin</h4>
                  </div>
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Date fin</mat-label>
                      <input #input  [(ngModel)]="task.dateFin" [ngxMatDatetimePicker]="pickerFin" matInput
                             placeholder="31/12/2020" name="dateFin" formControlName="dateFin">
                      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #pickerFin
                                               [showSpinners]="showSpinners"
                                               [showSeconds]="showSeconds"
                                               [stepHour]="stepHour" [stepMinute]="stepMinute"
                                               [stepSecond]="stepSecond"
                                               [touchUi]="touchUi"
                                               [color]="color" [enableMeridian]="true">
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="flex-start" class="col-3">
                    <mat-form-field appearance="outline" class="example-full-width ">
                      <input readonly  #input [value]="task.dateFin | date:'hh:mm' " matInput [ngModelOptions]="{standalone: true}" name="heureFin">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="col-12">
                    <div fxLayout="column">
                      <div fxLayoutAlign="flex-start">
                        <h4>Catégorie</h4>
                      </div>
                      <div fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-select ngDefaultControl [(ngModel)]="task.categorie"
                                      [attr.name]="'categorie'" formControlName="categorie">
                            <mat-option [value]="0">Manuelle</mat-option>
                            <mat-option [value]="1">Automatique</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="column">
                      <div fxLayoutAlign="flex-start">
                        <h4>Nature</h4>
                      </div>
                      <div fxLayoutAlign="flex-start">
                        <mat-form-field appearance="outline" class="example-full-width ">
                          <mat-select ngDefaultControl [(ngModel)]="task.nature"
                                      [attr.name]="'type'" formControlName="nature">
                            <mat-option [value]="0">Interne</mat-option>
                            <mat-option [value]="1">EXTERNE</mat-option>
                            <mat-option [value]="2">INTERNE/EXTERNE</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="col-12">
                    <div fxLayout="column" class="col-12">
                      <div fxLayoutAlign="flex-start">
                        <h4>Description</h4>
                      </div>
                      <mat-form-field appearance="outline">
                        <textarea ngDefaultControl [(ngModel)]="task.commentaire" [attr.name]="'commentaire'" formControlName="commentaire"  matInput placeholder="Description..."></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

              </div>
              <div fxLayout="row" fxLayoutAlign="start" class="col-4">
                <div class="col-12 box " fxLayout="column" fxLayoutAlign="start">
                  <div fxLayoutAlign="flex-start">
                    <h4> Périodicité:</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select ngDefaultControl [(ngModel)]="task.periodicite"
                                  [attr.name]="'periodicite'" formControlName="periodicite">
                        <mat-option [value]="0">Ponctuel</mat-option>
                        <mat-option [value]="1">Journalière</mat-option>
                        <mat-option [value]="2">Hebdomadaire</mat-option>
                        <mat-option [value]="3">Bimensuelle</mat-option>
                        <mat-option [value]="4">Mensuelle</mat-option>
                        <mat-option [value]="5">Trimestrielle</mat-option>
                        <mat-option [value]="6">Semestrielle</mat-option>
                        <mat-option [value]="7">Annuelle</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <h4> Rappel</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width " >
                      <mat-label>Heure début</mat-label>
                      <input  [(ngModel)]="task.rappelTime" formControlName="rappelTime"  #input  matInput type="time" name="startTime" >
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <h4> Statut</h4>
                  </div>
                  <div fxLayoutAlign="flex-start">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select ngDefaultControl [(ngModel)]="task.statut"
                                  [attr.name]="'statut'" formControlName="statut">
                        <mat-option [value]="0">PLANNIFIE</mat-option>
                        <mat-option [value]="1">VALIDEE</mat-option>
                        <mat-option [value]="2">TERLINEE</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <button [disabled]="!isToSave"  type="button" type="submit" class="btn btn-success add-btn float-right">Enregistrer</button>
      </div>

    </form>
  </div>
</p-panel>

<app-check-list-panel [task]="task" [etapeList]="etapeList" (addCheckEmiter)="addCheck($event.isUpdate,$event.step)"
                      (removeLastCheckEmiter)="removeLastCheck()"
                      (updateCheckEmiter)="updateCheck($event.step,$event.b)">

</app-check-list-panel>
<app-etape-panel (addStepEmiter)="addStep()" [task]="task" [activeIndex]="activeIndex" [steps]="steps" [etape]="etape"
                 [etapeListReady]="etapeListReady"
                 (removeLastStepEmiter)="removeLastStep()" (updateStepEmiter)="updateStep($event)">

</app-etape-panel>
<app-compteur-panel (onSubmitEmiter)="onSubmit()" (showRelevesEventEmiter)="showReleves()" [annuelData]="annuelData"
                    [stackedData]="stackedData" [compteurForm]="compteurForm"
                    [itemsCompteur]="itemsCompteur" [relevesList]="relevesList" [task]="task"
                    [taskCompteurList]="taskCompteurList">
</app-compteur-panel>
<app-saisie-panel (getAllSaisieEmiter)="getAllSaisie()" [task]="task" [collaborateurList]="collaborateurList"
                  [items]="items" [saisieList]="saisieList"
                  [saisieCurrentDate]="saisieCurrentDate">
</app-saisie-panel>




<div *ngIf="collaborateurList" class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0"><i class="icon-people"></i>Affectations</h4>
        <!--<div class="small text-muted">Juin 2021</div>-->
      </div><!--/.col-->
      <div class="col-sm-7 d-none d-md-block">
        <button type="button" (click)="affectCollabToTaskDialog()" class="btn btn-success add-btn float-right"><i
          class="cil-plus"></i> Ajouter
        </button>
      </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input name="keyup">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
          <td mat-cell *matCellDef="let element"> {{element.prenom}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fonction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fonction</th>
          <td mat-cell *matCellDef="let element"> {{element.fonction}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="profil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profil</th>
          <td mat-cell *matCellDef="let element"> {{element.profil}}</td>
        </ng-container>

        <ng-container matColumnDef="star">
          <th mat-header-cell *matHeaderCellDef> Statut</th>
          <td mat-cell *matCellDef="let element">
            <div class="button-row">
              <div>
                <label class="switch switch-3d switch-success">
                  <input name="check" type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </div>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  *matRowDef="let element; columns: displayedColumns;"
            class="collaborateur-row"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>



<p-dialog [(visible)]="displaySaisieDialog" (onHide)="hideTypeSelectionDialog()"   [style]="{width: '65vw'}" header="Saisie de temps">
  <form *ngIf="saisieForm"  [formGroup]="saisieForm">
  <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between">
    <div>
    <mat-form-field appearance="outline" class="example-full-width ">
      <mat-label>Collaborateur</mat-label>
      <mat-select  required  formControlName="collaborateurId" [attr.name]="'collaborateurId'" >
        <mat-option *ngFor="let collab of collaborateurList" [value]="collab.collaborateurId">{{collab.nom}} {{collab.prenom}}</mat-option>

      </mat-select>
    </mat-form-field>
    </div>
    <div >
    <mat-form-field appearance="outline" class="example-full-width " >
      <mat-label>Libelle</mat-label>
      <input required #input  matInput name="libelle" formControlName="libelle">
    </mat-form-field>
  </div>
    <div >
    <mat-form-field appearance="outline" class="example-full-width " >
      <mat-label>Heure début</mat-label>
      <input required #input  matInput  type="time" name="startTime" formControlName="startTime">
    </mat-form-field>
  </div>
    <div>
    <mat-form-field appearance="outline" class="example-full-width " >
      <mat-label>Heure fin</mat-label>
      <input required #input  matInput type="time" name="endTime" formControlName="endTime">
    </mat-form-field>
  </div>

  </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displaySaisieDialog=false"  label="Annuler" class="p-button-danger mr-2"></p-button>
    <p-button icon="pi pi-check" (click)="addSaisie()" type="submit" label="Enregistrer" class="p-button-text p-button-success"></p-button>
  </ng-template>

</p-dialog>
<p-dialog [(visible)]="displayBasic" (onHide)="hideTypeSelectionDialog()"   [style]="{width: '50vw'}" header="Compteur">
  <div  class="compteur-content">
    <p-card *ngFor="let compteur of compteurList" (click)="selectCompteur(compteur.installationId)" [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/compteur-eau.png">
      <ng-template pTemplate="footer">
        {{compteur.designation}} ({{compteur.fournisseur}})
      </ng-template>
    </p-card>

  </div>
  <div *ngIf="typeAnalyseSelection" class="compteur-content">
    <p-card (click)="selectCompteur('eau')" [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/piscine.png">
      <ng-template pTemplate="footer">
        Analyse eau piscine
      </ng-template>
    </p-card>
    <p-card (click)="selectCompteur('electrique')" [style]="{'width': '215px', 'margin-bottom': '2em'}">
      <img alt="Card" src="assets/img/avatars/statistics.png">
      <ng-template pTemplate="footer">
        Analyse efficience actions marketing
      </ng-template>
    </p-card>
  </div>

</p-dialog>
<p-dialog [(visible)]="displayReleves"  [style]="{width: '65vw'}" header="Releves">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedReleves()" [disabled]="!selectedReleves || !selectedReleves.length"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt *ngIf="relevesList" [value]="relevesList" [rows]="10" [paginator]="true" [globalFilterFields]="['ordre','dateRevele','indexValue','acteur']" responsiveLayout="scroll"
             [(selection)]="selectedReleves" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input name="search" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="ordre">Ordre <p-sortIcon field="ordre"></p-sortIcon></th>
          <th pSortableColumn="dateReleve">Date releve <p-sortIcon field="dateReleve"></p-sortIcon></th>
          <th pSortableColumn="indexValue">index <p-sortIcon field="indexValue"></p-sortIcon></th>
          <th pSortableColumn="acteur">Acteur <p-sortIcon field="acteur"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-releve>
        <tr>
          <td>
            <p-tableCheckbox [value]="releve"></p-tableCheckbox>
          </td>
          <td>{{releve.ordre}}</td>
          <td>{{releve.dateReleve | date:'dd-MM-yyyy'}}</td>
          <td>{{releve.indexValue}}</td>
          <td>{{releve.acteurName}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(releve)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteReleve(releve)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="releveDialog" [style]="{width: '650px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <div *ngIf="releve" fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-form-field appearance="outline" >
        <mat-label>Ordre</mat-label>
        <input type="text" matInput  [(ngModel)]="releve.ordre"  autofocus />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date Releve</mat-label>
        <input type="text" matInput  [(ngModel)]="releve.dateReleve" [ngxMatDatetimePicker]="pickerdateReleve"  autofocus />
        <mat-datepicker-toggle matSuffix [for]="pickerdateReleve"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerdateReleve
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond"
                                 [touchUi]="touchUi"
                                 [color]="color" [enableMeridian]="true">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Acteur</mat-label>
        <mat-select ngDefaultControl [(ngModel)]="releve.collaborateurId" [attr.name]="'acteurId'">
          <mat-option [value]="option.collaborateurId" *ngFor="let option of collaborateurList">{{option.nomPrenom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Index value</mat-label>
        <input type="text" matInput  [(ngModel)]="releve.indexValue"  autofocus />
      </mat-form-field>
    </div>

    <ng-template pTemplate="footer">
      <button type="button" pButton pRipple label="Annuler"  class="p-button-danger mr-2" (click)="hideDialog()"></button>
      <button type="button" pButton pRipple label="Enregistrer"  class="p-button-success" (click)="saveReleve()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


  <ng-template pTemplate="footer">
    <button type="button" pButton pRipple label="Annuler"  class="p-button-danger" (click)="displayReleves=false"></button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="displayNewCheck" [baseZIndex]="10000" [header]="isUpdate?'Modifier un check':'Ajouter un check'" [style]="{width: '40%'}">
  <div class="checkEdit-row p-grid p-fluid">
    <div class="p-col-4 p-md-4">
        <span class="p-float-label">
        <input [(ngModel)]="newCheck.ordre" id="order" pInputText type="text">
        <label for="order">Ordre</label>
        </span>
    </div>

    <div class="p-col-4 p-md-4">
        <span class="p-float-label">
        <input [(ngModel)]="newCheck.designation" id="designation" pInputText type="text">
        <label for="designation">Designation</label>
        </span>
    </div>

    <div class="p-col-4 p-md-4">
        <span class="p-float-label">
            <textarea [(ngModel)]="newCheck.description" cols="30" inputId="description" pInputTextarea rows="3"
                      style="resize: none;"></textarea>
            <label for="description">Description</label>
        </span>
    </div>
  </div>
  <div class="p-grid p-fluid">
    <div class="p-col-4 p-md-4">
      <h5>Obligatoire</h5>
      <p-inputSwitch [(ngModel)]="newCheck.mandatory" inputId="mandatory"></p-inputSwitch>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="isUpdate?updateCheck(newCheck,true):saveCheck(newCheck)" icon="pi pi-check" label="Validez"
              styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
