<app-loader-pop-up *ngIf="showLoader" [showLoader]="showLoader"></app-loader-pop-up>
<h1 mat-dialog-title>Ajouter un nouveau collaborateur</h1>
<form [formGroup]="collaborateurForm" (ngSubmit)="onSubmit()" >
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill" class="full-space-available">
          <mat-label>Nom</mat-label>
          <input required matInput  [(ngModel)]="collaborateur.nom" #input
                 placeholder="Ex. FHPA" formControlName="nom" name="nom">
          <mat-error *ngIf="collaborateurForm.controls.nom.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Prénom</mat-label>
          <input required matInput [(ngModel)]="collaborateur.prenom" #input
                 placeholder="Ex. Facilit" formControlName="prenom" name="prenom">
          <mat-error *ngIf="collaborateurForm.controls.prenom.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Email</mat-label>
          <input required [(ngModel)]="collaborateur.email" matInput #input
                 placeholder="Ex. ent@example.com" formControlName="email" name="email">
          <mat-error *ngIf="collaborateurForm.controls.email.errors?.alreadyExist">Email existe déjà</mat-error>
          <mat-error *ngIf="collaborateurForm.controls.email.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Profil</mat-label>
          <input required [(ngModel)]="collaborateur.profil" matInput #input
                 placeholder="Ex. Nougat" formControlName="profil" name="siret">
          <mat-error *ngIf="collaborateurForm.controls.profil.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-12 col-md-12">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Telephone</mat-label>
          <input required matInput  [(ngModel)]="collaborateur.telephone" #input
                 placeholder="Ex. Nougat" formControlName="telephone" name="telephone">
          <mat-error *ngIf="collaborateurForm.controls.telephone.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Fonction</mat-label>
          <mat-select ngDefaultControl required  [(ngModel)]="collaborateur.niveauHierarchique"
                      formControlName="niveauHierarchique" name="niveauHierarchique" value="">
            <mat-option value="-1">Aucun</mat-option>
            <mat-option *ngFor="let fonction of fonctionList" [value]="fonction.code">{{fonction.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="collaborateurForm.controls.niveauHierarchique.errors?.required">ce champ est requis</mat-error>
        </mat-form-field>

      </div>
      <div class="col-xl-6 col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Service</mat-label>
          <mat-select ngDefaultControl required  [(ngModel)]="collaborateur.serviceIds"
                       [formControl]="collaborateurForm.controls.serviceIds" name="services"  multiple>
            <mat-option value="-1">Aucun</mat-option>
            <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">{{service.designation}}</mat-option>
          </mat-select>

        </mat-form-field>

      </div>
    </div>

  </div>

  <div mat-dialog-actions class="float-right">
    <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
    <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>

  </div>
</form>
