<div fxLayout="row wrap" fxLayoutAlign="space-between" class="col-12">

    <p-card [header]="alerte.taskDesignation" [style]="{'width': '25rem', 'margin-bottom': '2em'}" *ngFor="let alerte  of alerteList">
      <p>{{alerte.message}}</p>
      <ng-template pTemplate="footer">
        <p-button label="Compris" icon="pi pi-check" class="p-button-danger"></p-button>
        </ng-template>
    </p-card>

</div>

