<p-table [value]="collaborateurList" [paginator]="true" [rows]="5" [responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:4em"></th>
      <th pSortableColumn="nom">Nom</th>
      <th pSortableColumn="prenom">Prénom</th>
      <th pSortableColumn="email">Email</th>
      <th pSortableColumn="telephone">Telephone</th>
      <th pSortableColumn="fonction">Fonction</th>
      <th style="width:7em">Statut</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-collab>
    <tr>
      <td>
        <button *ngIf="!collab.affected" type="button" (click)="selectCollab(collab.collaborateurId)" pButton
                icon="pi pi-arrow-left"></button>
        <button *ngIf="collab.affected" type="button" (click)="deleteAffectation(collab.collaborateurId)"
                class="p-button-danger" pButton icon="pi pi-times"></button>
      </td>
      <td class="hideTooLong">{{collab.nom}}</td>
      <td class="hideTooLong">{{collab.prenom}}</td>
      <td class="hideTooLong">{{collab.email}}</td>
      <td class="hideTooLong">{{collab.telephone}}</td>
      <td class="hideTooLong">{{collab.profil}}</td>
      <td>
        <span *ngIf="collab.affected" class="badge badge-danger">Affecté</span>
        <span *ngIf="!collab.affected" class="badge badge-success">Non affecté</span>
      </td>
    </tr>
  </ng-template>
</p-table>
