// Here you can add other styles
@font-face {
  font-family: Gilroy-Medium;
  src: url("../assets/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy-Regular;
  src: url("../assets/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("../assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy-Heavy;
  src: url("../assets/fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
}
