// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";

.customProgress .p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: yellow;
}

.sidebar-fixed .app-header + .app-body .sidebar {
  height: calc(170vh - 55px);
}

.app-body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”
}

.confirm .mat-form-field-flex {
  background-color: white !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
.box{
  border-radius: 10px;
  background: #ffffff;
}

card{
  border-radius: 10px;
  background: #ffffff;
}
:host {
  ::ng-deep .card{
    border-radius: 10px;
    background: #ffffff;
  }
}

:host {
  ::ng-deep .btn-danger {
    color: white;
    background-color: red !important;
  }
}
.back-orange{
  background-color: #ff9800;
  color: white;
}



