<p-panel class="mt-2" *ngIf="task && task.typeTache==3" header="Saisie"  [toggleable]="true" [style]="{'margin-top':'2%'}">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu2.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu2 id="config_menu2" [model]="items" [popup]="true"></p-menu>
  </ng-template>
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date</mat-label>
        <input  [matDatepicker]="pickerToday"  matInput [(ngModel)]="saisieCurrentDate"
                placeholder="01/01/2020" name="pickerToday" >
        <mat-datepicker-toggle matSuffix [for]="pickerToday"></mat-datepicker-toggle>
        <mat-datepicker #pickerToday></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button type="button" (click)="getAllSaisie()" class="btn btn-danger add-btn float-right">Chercher</button>
    </div>
  </div>
  <div class="mt-2" *ngFor="let saisie of saisieList">
    <mat-accordion   >
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{saisie.libelle}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-12" fxLayout="row wrap" fxLayoutAlign="space-between">
          <div>
            <mat-form-field appearance="outline" class="example-full-width ">
              <mat-label>Collaborateur</mat-label>
              <mat-select disabled  name="collaborateurId"  [value]="saisie.collaborateurId">
                <mat-option *ngFor="let collab of collaborateurList" [value]="collab.collaborateurId">{{collab.nom}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div >
            <mat-form-field appearance="outline" class="example-full-width " >
              <mat-label>Libelle</mat-label>
              <input readonly [value]="saisie.libelle" #input  matInput name="libelle" >
            </mat-form-field>
          </div>
          <div >
            <mat-form-field appearance="outline" class="example-full-width " >
              <mat-label>Heure début</mat-label>
              <input readonly [value]="saisie.startTime" #input  matInput  type="time" name="startTime" >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="example-full-width " >
              <mat-label>Heure fin</mat-label>
              <input readonly [value]="saisie.endTime" #input  matInput type="time" name="endTime" >
            </mat-form-field>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</p-panel>
