<p-table [value]="entrepriseList" [paginator]="true" [rows]="5" [responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:4em"></th>
      <th pSortableColumn="nom">Code</th>
      <th pSortableColumn="prenom">Nom Commercial</th>
      <th pSortableColumn="email">Email</th>
      <th pSortableColumn="telephone">Statut</th>
      <th pSortableColumn="fonction">Siret</th>
      <th style="width:7em">Telephone</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entreprise>
    <tr>
      <td>
        <button *ngIf="!entreprise.affected" type="button" (click)="selectCollab(entreprise.entrepriseId)" pButton
                icon="pi pi-arrow-left"></button>
        <button [disabled]="true" *ngIf="entreprise.affected"  type="button"
        class="p-button-danger" pButton icon="pi pi-times"></button>
      </td>
      <td class="hideTooLong">{{entreprise.code}}</td>
      <td class="hideTooLong">{{entreprise.nomCommercial}}</td>
      <td class="hideTooLong">{{entreprise.email}}</td>
      <td class="hideTooLong">{{entreprise.siret}}</td>
      <td class="hideTooLong">{{entreprise.telephone}}</td>
      <!--<td>-->
      <!--<span *ngIf="collab.affected" class="badge badge-danger">Affecté</span>-->
      <!--<span *ngIf="!collab.affected" class="badge badge-success">Non affecté</span>-->
      <!--</td>-->
    </tr>
  </ng-template>
</p-table>
