<div class="animated fadeIn">
  <div class="profilPanel mb-4">
    <div class="row">
      <div class="example-small-box col-1">
        <img src="assets/img/avatars/1.jpg">
      </div>
      <div class="col-10">

        <div class="row">
          <div class="col-2 label">
            Code :
          </div>
          <div class="col-3">
            {{entreprise.code}}
          </div>
          <div class="col-2 label">
            Nom commercial :
          </div>
          <div class="col-3">
            {{entreprise.nomCommercial}}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2 label">
            Email
          </div>
          <div class="col-3">
            {{entreprise.emailContact}}
          </div>
          <div class="col-2 label">
            Statut
          </div>
          <div class="col-3">
            {{entreprise.type}}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-2 label">
            Telephone
          </div>
          <div class="col-3">
            {{entreprise.telephone}}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-1 offset-1">
        Small content
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0"><i class="icon-people"></i> Liste des collaborateurs</h4>
          <!--<div class="small text-muted">Juin 2021</div>-->
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" (click)="openAddDialog(false)" class="btn btn-success add-btn float-right"><i
            class="cil-plus"></i> Ajouter
          </button>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input name="keyup">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mt-3 mb-3 mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
            <td mat-cell *matCellDef="let element"> {{element.code}}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
            <td mat-cell *matCellDef="let element"> {{element.type}}</td>
          </ng-container>

          <ng-container matColumnDef="emailContact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.emailContact}}</td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="nomCommercial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom commercial</th>
            <td mat-cell *matCellDef="let element"> {{element.nomCommercial}}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="siret">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Siret</th>
            <td mat-cell *matCellDef="let element"> {{element.siret}}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}}</td>
          </ng-container>

          <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="button-row">
                <div>
                  <button type="button" class="btn btn-sm  btn-primary" (click)="openModifyDialog(element)"><i
                    class="cil-pencil"></i></button>
                </div>
                <div>
                  <button type="button" class="btn btn-sm  btn-warning"><i class="cil-wrap-text"></i></button>
                </div>
                <div>
                  <button type="button" class="btn btn-sm  btn-danger" (click)="beSureToDelete(element.entrepriseId)"><i
                    class="cil-x"></i></button>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="displayEntreprise(element)" *matRowDef="let element; columns: displayedColumns;"
              class="entreprise-row"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
