<h1 mat-dialog-title>Ajouter une nouvelle tâche</h1>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Numéro</mat-label>
          <input (ngModelChange)="onChangeTask()" matInput [(ngModel)]="task.numero" #input placeholder="Ex. Facilit"
                 formControlName="numero" name="numero">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Désignation</mat-label>
          <input matInput (ngModelChange)="onChangeTask()" [(ngModel)]="task.designation" #input placeholder="Ex. FHPA"
                 formControlName="designation" name="designation">
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Commentaire</mat-label>
          <input (ngModelChange)="onChangeTask()" matInput [(ngModel)]="task.commentaire" #input
                 placeholder="Ex. Facilit" formControlName="commentaire" name="commentaire">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Instruction</mat-label>
          <input (ngModelChange)="onChangeTask()" [(ngModel)]="task.instruction" matInput #input
                 placeholder="Ex. ent@example.com" formControlName="instruction" name="instruction" required>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Categorie</mat-label>
          <mat-select ngDefaultControl [(ngModel)]="task.categorie" name="categorie" formControlName="categorie">
            <mat-option [value]="-1">None</mat-option>
            <mat-option [value]="1">Manuelle</mat-option>
            <mat-option [value]="2">Automatique</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Nature</mat-label>
          <mat-select ngDefaultControl [(ngModel)]="task.nature" name="nature" formControlName="nature">
            <mat-option [value]="-1">None</mat-option>
            <mat-option [value]="1">Interne</mat-option>
            <mat-option [value]="2">Externe</mat-option>
            <mat-option [value]="3">Interne/Externe</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Date début</mat-label>
          <input [matDatepicker]="pickerDeb" (ngModelChange)="onChangeTask()" [(ngModel)]="task.dateDebut" matInput
                 placeholder="01/01/2020" formControlName="dateDebut" name="dateDebut">
          <mat-datepicker-toggle matSuffix [for]="pickerDeb"></mat-datepicker-toggle>
          <mat-datepicker #pickerDeb></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Date fin</mat-label>
          <input [matDatepicker]="pickerFin" matInput (ngModelChange)="onChangeTask()" [(ngModel)]="task.dateFin"
                 placeholder="31/12/2020" formControlName="dateFin" name="dateFin">
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" class="full-space-available">
          <mat-label>Responsable</mat-label>
          <mat-select ngDefaultControl [(ngModel)]="task.responsableId" name="responsable" formControlName="responsable">
            <mat-option value="-1">None</mat-option>
            <mat-option *ngFor="let respo of responsableList" [value]="respo.collaborateurId">{{respo.nom}}
              {{respo.prenom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="float-right">
      <button  class="btn btn-danger mr-2" (click)="onNoClick()">Annuler</button>
      <button  class="btn btn-success" type="submit" cdkFocusInitial>Enregistrer</button>
    </div>
  </div>
</form>
